<link rel="stylesheet" href="/4_css/style.css">
<footer id="main-footer" class="">
    <div class="container">
        <div class="bg-white mb-2"><img src="/1_content/1_img/footer-eu.webp" alt=""></div>
        
        <div class="card-managing">
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-ruler-horizontal"></i></i> Usluge</h4>
                    <ul>
                        <li class="pt-1"><a href="/2_html/katastarske-usluge">Katastarske usluge</a></li>
                        <li><a href="/2_html/inzenjerska-geodezija">Inženjerska geodezija</a></li>
                        <li><a href="/2_html/LIDAR">LiDAR</a></li>
                        <li><a href="/2_html/fotogrametrija">Fotogrametrija</a></li>
                        <li><a href="/2_html/hidrografija">Hidrografija</a></li>
                        <li><a href="/2_html/geoinformatika">Geoinformatika</a></li>
                        
                        
                    </ul>
                    <div class="col p-1">
                        <h4><i class="fas fa-clock"></i> Radno vrijeme</h4>
                        <p class="pt-1" >PON-PET: 07-15H</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-user-friends"></i> Osobe ovlaštene za zastupanje</h4>
                    <p class="pt-1"><div class="text-muted d-inline">Vlasnik: </div>Stjepan Keleminec <br> </p>
                    <p class="pt-1"><div class="text-muted d-inline">Direktor: </div>David Perešin <br>  </p>
                    <div class="col p-1">
                        <h4><i class="fas fa-contact-card"></i> Kontakt</h4>
                        <p class="pt-1">info@geometricus.hr</p>
                        
                    </div>
                </div>
                
                
                
            </div>
            
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-archway"></i> Sjedište</h4>
                    <p class="pt-1">Ferovac 32, 34340 Kutjevo</p>
                    <p><div class="text-muted d-inline">OIB:</div> 28104778956</p>
                    <br>
                    <h4><i class="fas fa-building"></i> Ured Požega</h4>
                    <p class="pt-1">Županijska 4, 34000 Požega</p>
                    <p><div class="text-muted d-inline">telefon:</div> 034/273-034</p>
                    <p><div class="text-muted d-inline">e-mail:</div> info@geometricus.hr</p>
                    
                    <br>
                    <h4><i class="fas fa-building"></i> Ured Zagreb</h4>
                    <p class="pt-1">Odra, Odranska ulica 62,</p>
                    <p>10020 Novi Zagreb</p>
                    <p><div class="text-muted d-inline">e-mail:</div> info@geometricus.hr</p>
                    <br>
                    </div>
            </div>

            
            
    </div>

</footer>
<div class="footer-note">
    <div class="container">
        <p class="h6">Izradio: MP | &copy 2023 Geometricus d.o.o.</p>
    </div>
</div>





