---
layout: "base.njk"
---

    <div class="container bg-white border-left border-right">
        <div class="o-nama-background ">
    <div class="col-12 py-3 py-md-5 d-flex justify-content-center align-items-center">
        <h1 class="text-white text-bold pb-5">About us</h1>
    </div>
    </div>        
    <div class="row py-5 bg-ruler">
            <div class="col-12">
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">About us</h2>
                <p class="mt-3 mb-2 ">
                    The company <b>Geometricus d.o.o.</b> was founded in 2011 with its headquarters in Ferovac. It soon achieves significant growth in the turnover of services and the number of employees. The company's employees are master engineers in
                     geodesy / geoinformatics and geodetic technicians who perform work tasks at the highest possible level and thus contribute to the development and reputation of the company.</p>
                 <p class="mt-1 mb-1">We operate in accordance with regulations with the consent of the State
                     geodetic administration for the performance of state surveying and real estate cadastre work and the authorization of Croatia's
                     chamber of authorized geodesy engineers. </p>
                
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">Surveying services</h2>
                 <p class="my-3">The main activities of the company are services related to real estate cadastre and engineering geodesy. Among other activities, we provide services in the field of photogrammetry, terrestrial laser scanning, LiDAR scanning, hydrographic surveying, locating underground utilities. We also offer services related to the creation of geoinformation systems and their web-hosting.</p>
                <hr>
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">Mission</h2>
                 <p class="my-3">The mission of Geometricus is the satisfaction of every client by providing services from all areas of our activities using the highest quality and most modern solutions for their projects and thus contributing to the development and progress of the company.</p>
                 <h2 class="text-uppercase my-4 font-weight-normal text-dark">Vision</h2>
                 <p class="my-3">By using the knowledge and experience of our employees and by constantly investing in top-notch equipment and the training of employees, we will become a recognized and reliable partner on the regional market. It is also very important for us to remain a socially responsible company and to become a desirable employer for both current and potential employees.</p>
                <hr>
                <h2 class="text-uppercase font-weight-normal text-dark mb-3">GENERAL INFO</h2>
<p class="font-weight-bold font-italic txt-primary-color">Company:</p>
<p class="text-secondary">Geometricus d.o.o.</p>
<div class="row">
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">Year of establishment:</p>
        <p class="text-secondary">2012.</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">Main office:</p>
        <p class="text-secondary">Županijska 4, Požega, 34000 Požega</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">MBS:</p>
        <p class="text-secondary">02920182</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">IBAN:</p>
        <p class="text-secondary">HR0524070001100195012</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">SWIFT:</p>
        <p class="text-secondary">OTPVHR2X</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">OIB:</p>
        <p class="text-secondary">28104778956</p>
    </div>
</div>
<p class="txt-primary-color font-weight-bold font-italic">EORI:</p>
<p class="text-secondary">HR28104778956</p>
<p class="">The limited liability company is represented by the owner, mag.ing.geod. et geoinf. Stjepan Keleminec and director, geod.tech. David Peresin. The company is registered with the Commercial Court in Osijek - permanent office in Slavonski Brod, under registration number 02920182. The company's share capital of HRK 167,300.00 has been paid in full. Geometricus d.o.o. has an identification number (EURI) for customs purposes, a number required for the internationalization of business.</p>
                
                
                
            </div>
        </div>
    </div>



