---
layout: 'base-en.njk'
---


    


<section id="katastarske-usluge">
    
    
        <div class="header-type container2">
            <div class="dark-overlay d-flex justify-content-center align-items-center">
                <h1 class="ay0-1">Cadastral services</h1>
            </div>
        </div>    
        <div class="container p-1 bg-white">
        <div class="katastarske-usluge-intro mt-5 ">
            <h1 class="ay0-2 text-center-on-small-screens">Cadastre and land register</h1>
             <p class="ay0-2 text-center-on-small-screens">The cadastral record is a record of the particles of the earth's surface, buildings and other structures that lie permanently on the earth's surface or under it, and of special legal regimes on the earth's surface, unless otherwise specified by law. </p>

                <p class="ay0-2 text-center-on-small-screens"> The basic spatial unit of the cadastral operation is the cadastral parcel. </p>
                
                <p class="ay0-2 text-center-on-small-screens"> On the legal status of real estate in the territory of the Republic of Croatia, relevant for legal transactions, land registers (land registers) are kept, if nothing is specifically determined for some lands. Real rights on land are entered in the land registers, as well as other rights for which this is determined by special laws (eg mortgage, easement rights, ...). </p>
                
                <p class="ay0-2 text-center-on-small-screens"> Land registers are kept by the municipal court as a court of first instance (land registry court).</p>
                
                <p class="ay0-2 text-center-on-small-screens"> Holders of rights to real estate are obliged to report any change to real estate to the competent regional cadastre office, i.e. to the City of Zagreb office, within 30 days from the date of the change. which affects the data entered in the real estate cadastre.</p>
        
        
        </div>
        <div class="geodetski-elaborat-flex py-1 ">
            <h1 class="ay0-3 text-center-on-small-screens" data-bs-toggle="collapse" href="#GE" role="button" aria-expanded="false" aria-controls="#GE">Geodetic study</h1>
             <div class="geodetski-elaborat collapse show" id="GE">
            
             <h4 class="ay0-3 text-center-on-small-screens" >The appropriate geodetic study is the technical basis for the implementation of changes made to real estate.</h4>
             <p class="ay0-3 text-center-on-small-screens">Given the changes made to the real estate (cadastral parcel), geodetic studies can be made for the purpose of:</p>
            
             <ul>
                 <li class="ay0-4">divisions or merges of cadastral parcels - subdivision elaboration</li>
                 <li class="ay0-4">location permit implementation</li>
                 <li class="ay0-4">implementation of the decision on determining the building lot</li>
                 <li class="ay0-4">implementation of the building permit, i.e. another act on the basis of which the building was built</li>
                 <li class="ay0-4">implementation of the urban development plan or spatial plans of areas with special features</li>
                 <li class="ay0-4">registration of maritime or water assets</li>
                 <li class="ay0-4">joining of entire cadastral parcels on which the existing building was built</li>
                 <li class="ay0-4">recording, deletion or change of data on buildings or other structures</li>
                 <li class="ay0-4">recording or changing data on the way cadastral parcels are used</li>
                 <li class="ay0-4">recording the actual position of individual cadastral parcels already recorded</li>
                 <li class="ay0-4">enforcements in the land register</li>
                 <li class="ay0-4">recording of the derived state of the road</li>
                 <li class="ay0-4">...</li>
            </ul>
            </div>
            
        </div>
        <section id="gallery-GE" class="py-1 ay1">
            <div class="container ">
                <div class="row mb-5 ">
                    <div class="col-md-12 d-flex flex-row justify-content-center">
                        <div class="row d-flex justify-content-center align-items-center mb-3">
                            <a href="/1_content/1_img/katastarske-usluge/k1-big.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                <img src="/1_content/1_img/katastarske-usluge/k1-small.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                            </a>
                            <a href="/1_content/1_img/katastarske-usluge/k2-big.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                <img src="/1_content/1_img/katastarske-usluge/k2-small.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                            </a>
                            <a href="/1_content/1_img/katastarske-usluge/k3.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                <img src="/1_content/1_img/katastarske-usluge/k3.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <div id="accordion">


   

            <!--1-->
            <div class="card ">
              <div class="card-header " id="headingOne">
                
                  <h3 style="cursor:pointer" class="ay2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-xs fa-arrow-turn-down"></i> Subdivision study
                   </button>
                 </h5>
               </div>
               <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                 <div class="card-body">
                     <p>Subdivision study is a document created and certified by an authorized geodetic contractor, the purpose of which is to make changes to real estate (parcelation or merger) in the cadastre, i.e. the land register. Subdivision is the process of establishing new cadastral parcels by merging or dividing existing ones. It can be worked on construction and agricultural land.</p>
                     <p>Subdivision study can be made for the purpose of:</p>
                     <ul>
                         <li>divisions or merges of cadastral parcels and</li>
                         <li>implementation of spatial planning documents or acts</li>
                     </ul>
            
                    

                    <section id="gallery-PE" class="py-1">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-12 d-flex flex-row justify-content-center">
                                    <div class="row d-flex justify-content-center align-items-center mb-3">
                                        <a href="/1_content/1_img/katastarske-usluge/c1.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery2" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/c1.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                                        </a>
                                        <a href="/1_content/1_img/katastarske-usluge/c2.webp" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery2" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/c2.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>

                    <h3>Subdivision of (undeveloped) building land</h3>
                     <p>Subdivision of built-up construction land and construction land outside the construction area can only be carried out in accordance with spatial development acts and plans.</p>
                     <p>Parcelization of constructed construction land can also be carried out for the purpose of joining the entire cadastral parcels on which the existing building was built.</p>
            
                     <h3>Parcelation of agricultural land</h3>
                     <p>The Subdivision of land that is outside the boundaries of the construction area and land that is not for construction must contain the appropriate act of the body responsible for spatial planning that it is used to parcel out the land that is outside the boundaries of the construction area.</p>
                     <p>Subdividing the land outside the boundaries of the construction area in order to increase the building plot within the boundary of the construction area is not allowed.</p>


                </div>
              </div>
            </div>


            <!--2-->
            <div class="card">
              <div class="card-header" id="headingTwo">
                
                  <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa-solid fa-xs fa-arrow-turn-down"></i> Registration of buildings in the cadastre and land register
                   </button>
                 </h5>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                 <div class="card-body">
                     <p>Registration of an object (building) in the cadastre and land register is the procedure by which objects (buildings and other structures) are registered in the cadastre and land register.</p>
                     <p>The holder of rights to real estate is obliged to report any change to real estate that affects the data entered in the cadastral register to the competent regional cadastre office or the City of Zagreb office within 90 days from the date of the change. The technical basis for implementing changes in the cadastral operation is the appropriate geodetic study.</p>
                     <p>Geodetic studies are prepared by persons who have permission to perform professional geodetic work for the purposes of maintaining the real estate cadastre and in accordance with a special law, and at the request of the holder of rights to real estate, that is, persons who have a legal interest in the first cadastral parcel (real estate).</p >
                     <p><u> Registration of the building in the cadastre and land register (land register) according to the valid Construction Act (Official Gazette 153/13, 20/17, 39/19): </u></p>
                     <p class="p-3">For a building built on the basis of a building permit or other appropriate building act issued by the competent authority before October 1, 2007, the construction authority may, at the request of the party, issue a use permit for a building built on based on the building act issued until October 1, 2007.
                         <br>
                         <b> The cadastral office registers a building in the cadastre if a use permit has been issued for that building. </b>
                         <br>
                         The cadastral office, for the purpose of registering a building in the land register, submits a notification to the competent court that for the registration of the building in the cadastre, a use permit issued by the construction authority is attached, which provides the cadastral office with an executive use permit, geodetic survey, geodetic study and/or other act.
                        
                         When registering a building in the land register, the competent court makes a note in the owner's register of the land register that a use permit was attached to the registration of the building in the cadastre or that it was not attached.
                        
                         The note is ex officio deleted when the construction and/or restoration permit is attached.
                        
                         The above-mentioned note is not proof of the legality (legality) of the building, but is proof of the registration or non-registration of the document.</p>
                     <p><i> Procedures initiated under the provisions of the Spatial Planning and Construction Act until the entry into force of the Construction Act (January 1, 2014) relating to construction and the adoption of a decision to carry out activities according to a special law, to the registration of buildings in to the cadastre and land registers and to making entries in the land register will be completed according to the provisions of the Law on Spatial Planning and Construction and the regulations adopted on the basis of that Law. </i></p>
        
                     

                     <section id="gallery-upis" class="py-1">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-12 d-flex flex-row justify-content-center">
                                    <div class="row d-flex justify-content-center align-items-center mb-3">
                                        <a href="/1_content/1_img/katastarske-usluge/d3.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery3" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/d3.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                                        </a>
                                        <a href="/1_content/1_img/katastarske-usluge/d2.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery3" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/d2.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    <p>The document (deed) on the proof of the legality of the constructed building based on the Law on Spatial Planning and Construction can be:</p>
                     <ul>
                         <li><b>Building built until February 15, 1968</b></li>
                         <p>If the building was built before February 15, 1968, it is considered to have been built on the basis of a valid building permit, or another appropriate act of the competent administrative body, and no occupancy permit is issued for such a building.
                         The certificate on the time of registration of the building, which is proof that a building was built before February 15, 1968, is issued by the cadastral office, that is, the Central Office of the State Geodetic Administration, based on the data they have.
                         If the cadastral office or the Central Office of the State Geodetic Administration does not have the data on the basis of which a certificate can be issued, the certificate on the construction time of the building is issued by the competent administrative body.</p>
                         <li><b>Building built until June 19, 1991</b></li>
                         <p>A building built on the basis of a building permit, i.e. a corresponding act of the competent authority issued before June 19, 1991, is entered in the cadastral register with an attached valid building permit and a certificate that the building inspection procedure is not ongoing in connection with that building.
                         A use permit is not issued for such a building.</p>
                         <li><b>Building built from June 20, 1991 to October 1, 2007</b></li>
                         <p>For a building built on the basis of a building permit issued from June 20, 1991 to October 1, 2007, instead of a use permit, the competent administrative body issues a certificate of use, which establishes that the building was built in accordance with the building permit.
                         A certificate of use cannot be issued for buildings in connection with which the construction inspection procedure is in progress.
                         Buildings built on the basis of a building permit issued from June 20, 1991 to October 1, 2007 are registered in the cadastral registry on the basis of a use permit or the above-mentioned certificate of use.</p>
                         <li><b>Building built after October 1, 2007</b></li>
                         <p>The cadastral office can register a building in the cadastral register if it has been issued for that building:</p>
                         <ul>
                             <li>use permit for buildings for which a building permit is issued, i.e. confirmation of the main project,</li>
                             <li>final report of the supervising engineer for buildings for which a decision is issued in terms of construction,</li>
                             <li>decision on derived state i</li>
                             <li>confirmation of the completed state, i.e. confirmation of the competent administrative body that the building is not issued with a use permit or other listed acts, unless otherwise prescribed by this Act.</li>
                         </ul>
                         <p>The building will be recorded in the cadastral register if a building (cadastral) parcel is formed in it for the building being recorded.</p>
                     </ul>
                 </div>
               </div>
             </div>

            <!--3-->
            <div class="card">
              <div class="card-header" id="headingThree">
                
                  <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa-solid fa-xs fa-arrow-turn-down"></i>  Geodetic situation plan of the actual situation
                   </button>
                 </h5>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                 <div class="card-body">
                     <p>The geodetic situation plan of the actual situation (situation) is a snapshot of the actual state of the terrain made on the basis of a geodetic survey. It is made in such a way that it displays positional and height data on all visible natural and built objects on the earth's surface in the area covered by the space (e.g. buildings, other structures, water lines, vegetation, relief, ...).</p>
                     <p>A geodetic situational plan is created for the purpose of implementing spatial planning acts. It is used for registration of buildings and for designing buildings.</p>

                    <section id="gallery-GSN" class="py-1">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <div class="row d-flex justify-content-center align-items-center mb-3">
                                        <a href="/1_content/1_img/katastarske-usluge/e1.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1200" data-toggle="lightbox" data-gallery="example-gallery4" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/e1.webp" alt="katastar hr, hr katastar, zemljišna knjiga" class="img-fluid" style="width: fit-content;">
                                        </a>
                                    </div>                
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
              </div>
            </div>


            <!--4-->
            <div class="card">
                <div class="card-header" id="headingFour">
                  
                    <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa-solid fa-xs fa-arrow-turn-down"></i>  Reconciliation of data from the cadastre and land register 
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <p>Reconciliation of data from the cadastre and land register (land register) is a procedure in which real estate data entered in the cadastre and land register (land register) is harmonized.</p>
                     <p>Inconsistency of data manifests itself in the form of a discrepancy in the parcel number, registered area, built-up area, mismatch of owner, i.e. owner, personal data, etc. Also, it is possible that a parcel exists in the cadastre but not in the land register, and vice versa. There is a frequent occurrence of inconsistencies between cadastre and land register data and the actual situation on the ground.</p>
                     <p>Inconsistency of data also occurs very often when concluding sales contracts and not reporting changes in the cadastral register and land register after the conclusion of the contract.</p>
                     <p>In order to find out if the data on the particle is matched, it is necessary to make an identification. Identification information is issued by the competent cadastre office. If the data of the cadastre and the land register (land register) differ, i.e. they are not harmonized, it is necessary to engage a person who has the approval to perform professional geodetic work in order to create a geodetic study of alignment.</p>
                     <p>Compliance of data in the cadastre and land register <b> is necessary when buying and selling real estate, obtaining a mortgage loan from banks, construction, condominiums. </b> When buying and selling real estate, the data in the land registers are authoritative, therefore it is most important that the seller of the property is registered in the land registers, because only then will it be possible to conclude a valid sales contract and acquire the right of ownership.</p>
                   </div>
                 </div>
               </div>


               <!--5-->
               <div class="card">
                 <div class="card-header" id="headingFive">
                  
                     <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         <i class="fa-solid fa-xs fa-arrow-turn-down"></i> Cadastre of infrastructure (water lines)
                     </button>
                   </h5>
                 </div>
                 <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                   <div class="card-body">
                     <p>The cadastre of infrastructure is established and maintained on the basis of records that are required to be established and maintained by the owners or their managers for each type of infrastructure.</p>
                     <p>In the cadastre of infrastructure, lines of electric power, electronic communication, hot water, gas, oil, water and drainage (fecal, rainwater, mixed water) infrastructure are recorded. Infrastructure is also considered to be other objects that belong to it (eg wells, gas valves, shafts,...).</p>
                     <p>The infrastructure cadastre contains data on the types (purpose), basic technical characteristics, current use and location of the constructed infrastructure, and the names and addresses of their owners or managers, as well as the constituent parts of the infrastructure cadastre.</p>
                    
                     <p>The geodetic survey of the built infrastructure implies the measurement of the breaking points of the infrastructure (lines) in terms of position and height, the intersection of the newly built infrastructure with the existing one, and the associated buildings. In the case of underground lines, the infrastructure is carried out in an open trench.</p>
                     <p>The geodetic study of the infrastructure is created as a technical basis for managing the cadastre of the infrastructure and in the case of:</p>
                     <ul>
                         <li>recording of newly built and/or unrecorded infrastructure</li>
                         <li>changes in data on the position on the existing infrastructure and data on the basic technical characteristics of the infrastructure</li>
                         <li>abandonment of existing already recorded infrastructure</li>
                         <li>removal of existing recorded infrastructure and</li>
                         <li>change of descriptive data on the existing already recorded infrastructure, which are kept in the infrastructure cadastre.</li>
                     </ul>
                     <p>Maintaining and updating the infrastructure cadastre is of great importance for the maintenance of the lines themselves, as well as for finding the lines within the framework of future planning or execution of works in the immediate vicinity of them.</p>
                    <section id="gallery-SKI" class="py-1">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="row d-flex justify-content-center align-items-center mb-3">
                                        <a href="/1_content/1_img/katastarske-usluge/SKI1.webp" alt="katastar hr, hr katastar" data-max-width="1400" data-toggle="lightbox" data-gallery="example-gallery5" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/SKI1.webp" alt="katastar hr, hr katastar" class="img-fluid" style="width: fit-content;">
                                        </a>
                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>
                </div>
              </div>



              <!--6-->
              <div class="card">
                <div class="card-header" id="headingSix">
                  
                    <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="fa-solid fa-xs fa-arrow-turn-down"></i>  Registration of public/unclassified roads
                     </button>
                   </h5>
                 </div>
                 <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                   <div class="card-body">
                     <p>According to the Law on Roads (OG 84/11, 22/13, 54/13, 148/13, 92/14, 110/19) the legal status, method of use, classification, maintenance and management of public and unclassified roads is regulated .</p>
                     <p>Public roads are all roads classified as public roads, which anyone can freely use in the manner and under the conditions determined by the Roads Act. Public roads are a public asset in general use owned by the Republic of Croatia and cannot be alienated from the ownership of the Republic of Croatia, nor can real rights be acquired on them (ownership, right of construction, right of easement, etc.).</p>
                     <p>Unclassified roads are roads that are used for vehicle traffic and are accessible to a larger number of users, and are not defined as public roads.</p>
                     <p>Public and unclassified roads that are not recorded in the cadastre or their actual condition is not recorded, are recorded in the cadastre based on the geodetic study of the road condition and the decision of the competent land registry court on the implementation of the application form.</p>
                     <p>The geodetic study of the derived condition of the road is made for public and unclassified roads that were built before the entry into force of the Law on Roads and public roads that were reconstructed before the entry into force of the Law.</p>
                     <p>The geodetic study of the derived condition of the road can be prepared for the purposes of implementing changes in the land cadastre, maintaining the real estate cadastre and gradually establishing the real estate cadastre.</p>
                    <section id="gallery-UNC" class="py-1">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="row d-flex justify-content-center align-items-center mb-3">
                                        <a href="/1_content/1_img/katastarske-usluge/UC1.webp" alt="katastar hr, hr katastar, zemljišna knjiga" data-max-width="1600" data-toggle="lightbox" data-gallery="example-gallery6" class="col-md-4 col-sm-12">
                                            <img src="/1_content/1_img/katastarske-usluge/UC1.webp" class="img-fluid" alt="katastar hr, hr katastar, zemljišna knjiga" style="width: fit-content;">
                                        </a>
                                        
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>
                </div>
              </div>




              <!--7-->
              <div class="card mb-4">
                <div class="card-header " id="headingSeven">
                  
                    <h3 class="ay2" style="cursor:pointer" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <i class="fa-solid fa-xs fa-arrow-turn-down"></i>  Staking out borders/objects
                     </button>
                   </h5>
                 </div>
                 <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                   <div class="card-body">
                     <p>The staking out of a building is the geodetic transfer of the floor plan of the external outline, i.e. the axis of the building to be built, to the terrain within the building plot, i.e. the scope of the intervention in the space, which is carried out by an authorized geodetic engineer in accordance with a special regulation.</p>
                     <p>Before the start of construction, the investor is obliged to ensure that the building is staked out.</p>
                     <p>Elaboration of the staking out of the building belongs to the basic documentation on the construction site.</p>
                     <p>Staking out boundaries is a procedure by which boundaries are established on the ground according to data from the cadastral register. The staking out and restoration/marking of boundaries is done for the purpose of:</p>
                     <ul>
                         <li>Insights of the user of rights on the particle about the extent, i.e. the limits of his rights</li>
                         <li>purchase or sale of real estate</li>
                         <li>determining the violation of ownership</li>
                    </ul>
                  </div>
                  <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="row  d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/katastarske-usluge/i1.webp" alt="katastar hr, hr katastar, zemljišna knjiga, projektiranje kuće" data-max-width="1600" data-toggle="lightbox" data-gallery="example-gallery6" class="col-md-4 col-sm-12">
                                    <img src="/1_content/1_img/katastarske-usluge/i1.webp" alt="katastar hr, hr katastar, zemljišna knjiga, projektiranje kuće" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>
    </div>   
</section>


