---
layout: "base-en.njk"
---


<section id="inzenjerska-geodezija">
    
    
        
            <div class="background container2">
                <div class="dark-overlay d-flex justify-content-center align-items-center">
                <h1 class=""><b>Engineering geodesy</b> </h1>
                </div>
            </div>
        <div class="container bg-white">
    
        <div class="izracun-kubatura mt-5">
            <h2>Volume calculation</h2>
            <p>Calculating the volume of masses is a procedure for calculating the masses of asphalt bases, landfills, quarries, excavations and embankments, and other forms of earthworks on construction sites.</p>
            

            <div class="sketchfab-embed-wrapper"> 
                <iframe title="1" width="1100px" height="600px" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/0969ac9970f948a28e376a4d7330d957/embed"> </iframe> 
            </div>

            <p class="mt-3">During the construction of a building, material compensation is a key factor when creating a cost estimate. A common problem faced by investors is the inability to control the amount of excavation taken from the construction site or the material used for backfilling.</p>
             <p>We have the most modern software for calculating the volume of a given material, and we quickly, easily and reliably deliver excavation data, terrain profiles and more.</p>

            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK3.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK3.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK4.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK4.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK5.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK5.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="uspostava-geodetske-osnove">
            <h2>Establishment of the geodetic base</h2>
             <p>The geodetic base or geodetic grid is a set of permanently stabilized points on the Earth's surface with specific coordinates in the horizontal and vertical sense. The points, or the coordinates of the geodetic base, are expressed in relation to the unique coordinate system.</p>
             <p>It is customary for construction and geodetic works to be carried out on the construction site from the same geodetic base, so that there is no discrepancy between the values observed at the same points.</p>
             <p>When establishing the geodetic base, care is taken to ensure that the established points are stable and reliable during all phases of building construction, but also after the building is put into operation, so that future monitoring of the movement and deformation of the building can be carried out from these points.</p>
             <p>After the field part and the physical establishment of the network, the office part of the work and equalization of the network is approached. Today, the equalization of the network is done by means of advanced computer programs specialized for this type of work, with the constant supervision of a geodetic expert. The final result of the network equalization is the fixed positions of the points (horizontal and vertical position) and the accuracy rating (reliability and precision) of the network.</p>
             <p>Establishing the geodetic base is one of the most precise works of the geodetic profession, because the success of the project (construction of tunnels, bridges, dams, highways, railways, buildings, etc.) depends on the quality of the constructed network.</p>
             <p><b>Only a well-executed geodetic basis is a prerequisite for the successful execution of the project.</b></p>
            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO4.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO4-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO5.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO5-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO6.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO6-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="iskolcenje">
            <h2>Stake out buildings, routes, roads and infrastructure</h2>
             <p>Staking out buildings, roads and infrastructure is the geodetic transfer of building axes, road routes and infrastructure breaking points from the project (plan, "drawing") to the field, i.e. marking on the ground the future position of breaking points or building axes.</p>
             <p>Staking out objects (buildings, roads, infrastructure) is one of the everyday actions of geodetic practice.</p>
             <p>The designed object that needs to be staked on the field can be transferred to the field in terms of position and height.</p>
            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/2.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/2-s.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/1.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/1.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="pomaci-i-deformacije">
           <h2>Monitoring displacements and deformations</h2>
             <p>Every built object is subject to movement and deformation. Displacements and deformations occur as a result of external loads - forces (wind, temperature change, tectonic and seismic influences, static and dynamic loading of the building), changes in the mechanical properties of the material from which the object is built, etc.</p>
             <p>Displacement is defined as a spatial change in the position of a discrete point on an object or ground. Deformation is the distortion or cracking of an object or soil, which is mainly caused by unequal displacements of points. Uneven displacements cause deformations such as bows, bends, twists and warps.</p>
            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/PD-1.webp" alt="projektiranje kuće, praćenje pomaka" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/PD-1.webp" alt="projektiranje kuće, praćenje pomaka" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/PD-2.webp" alt="projektiranje kuće, praćenje pomaka" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/PD-2.webp" alt="projektiranje kuće, praćenje pomaka" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
           <p>Geodetic methods are used to determine changes in the position of individual points on the object, as well as the shapes of the objects themselves. On the basis of such measurements, that is, on the basis of the results of displacement measurements, the deformation can be determined.</p>
             <p>The values of certain displacements and deformations of buildings are the most authoritative element in the assessment of the real state of the building.</p>
         </div>
             <h2 class="mt-4">Geodetic supervision</h2>
             <div class="geodetski-nadzor mb-5 text-white ">
                
                 <div class="dark-overlay2 d-flex flex-column justify-content-center align-items-center">
                
                 <div class="ay d-flex justify-content-center align-items-center m-4">
                 <p>Geodetic supervision is the control of the correctness of the execution of the contractor's works, that is, the control of the compliance of the execution of the works with the project. Construction supervision is a legal obligation of the investor.</p>
                 <p>A supervising engineer is a natural person who, according to a special law, has the right to use the professional title authorized engineer and carries out expert construction supervision on behalf of the investor.</p>
                 <p>Professional construction supervision is carried out during the construction of all buildings and the execution of all works for which a building permit and/or use permit is issued.</p>
                 <p>Geodetic supervision is mainly carried out during the construction of roads, due to the complexity of the project and the spatial distribution of the construction of the object.</p>
                 <p>Before the very start of work on the construction site, the investor is obliged to hand over to the geodetic supervising engineer the project documentation, the marked out route of the object and the operational polygons from which the route or axes of the future object were marked out.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>   




