---
layout: "base.njk"
---

<section id="EU" class="d-flex justify-content-center">
    <img class="w-50" src="/1_content/1_img/index_pics/EU-elementi.jpg" alt="">
</section>

<section id="grad-petrinja" class="bg-white px-5 py-5">
<h4 class="">
    NAZIV PROJEKTA:
</h4>

<h5>Poboljšanje konkurentnosti tvrtke Geometricus d.o.o. ulaganjem u opremanje podružnice
    na području Grada Petrinje</h5>
<br>
<h4>KORISNIK:</h4>

<p>Geometricus d.o.o., Ferovac 32, 34340 Kutjevo</p>

<h4>OPIS:</h4>

<p>Opći cilj projekta je doprinijeti gospodarskoj regeneraciji depriviranog područja Grada
    Petrinje kroz ulaganje u prisutnost visoko specijaliziranih geodetskih djelatnosti na
    području grada. <br>
    Specifični cilj projekta je povećanje konkurentnosti poduzeća GEOMETRICUS d.o.o. kroz
    implementaciju novih tehnologija i pokretanje nove geodetske podružnice u Petrinji. <br> Taj
    cilj će se ostvariti kroz podizanje razine kvalitete kao i brzine izrade geodetskih elaborate,
    ali i uvođenje suvremenog načina obrade i pružanja geodetskih usluga, te širenje portfelja
    djelatnosti na one djelatnosti potrebne u ciljanom području grada Petrinje, pogotovo na
    tehnologije primjenjive u upravljanju prirodnim nepogodama.
</p>
<p>Rezultati: <br>
    - Nabavljen i stavljen u primjenu novi set geodetskog instrumentarija temeljenog na
    zadnjim tehnologijama Industrije 4.0 <br>
    - Otvorena i opremljena nova geodetska podružnica na području Grada Petrinje <br>
    - Otvorena 4 nova radna mjesta u godini m+2</p> 

<h5>UKUPNA VRIJEDNOST PROJEKTA:</h5>
<p>218.253,92 EUR / 1.644.434,14 HRK</p>

<h5>IZNOS SUFINANCIRANJA EU:</h5>
<p>145.934,18 EUR / 1.099.541,09 HRK</p>
<br>
<h5>RAZDOBLJE PROVEDBE PROJEKTA:</h5>
<p>od 1. listopada 2022. do 1. listopada 2023.</p>
<br>
<h5>KONTAKT OSOBE:</h5>
<p>Stjepan Keleminec, direktor <br>
    info@geometricus.hr</p>

<h2>Projekt je sufinancirala Europska unija iz Europskog
    fonda za regionalni razvoj (EFRR).</h2>
<br>
<div class="text-muted">
    Sadržaj ove stranice isključiva je odgovornost Korisnika – GEOMETRICUS d.o.o., te ne
odražava stavove Europske unije.
</div>
<br><br>
<a href="http://strukturnifondovi.hr/">http://strukturnifondovi.hr/</a>
<br>
<a href="https://strukturnifondovi.hr/eu-fondovi/esi-fondovi-2014-2020/op-konkurentnost-i-kohezija/">https://strukturnifondovi.hr/eu-fondovi/esi-fondovi-2014-2020/op-konkurentnost-i-kohezija/</a>

</section>