---
layout: "base.njk"
---

<section id="hydrographboost">
    <div class="container">
        <h1 class="text-center py-2 bg-white" style="color:var(--primary-color)!important;">HydroGraphBoost projekt</h1>
        <div class="bg-white">
            <div class="row my-5">
                <div class="col ">
                    <h2>O projektu</h2>
                    <h5>Organizator projekta: Innovation Norway</h5>
                    <h5>Promotor projekta: Geometricus d.o.o.</h5>
                    <h5>Oznaka projekta: HR-INNOVATION-0025</h5>
                    <br>
                    <h6>U sklopu programa <a href="https://eeagrants.org/archive/2014-2021/programmes/HR-INNOVATION" target="_blank"><span>Inovacija, istraživanje, edukacija i kompetitivnost</span></a></h6>
                </div>
                <div class="col">
                    <h2>Status projekta:</h2>
                    <h5>Kompletiran</h5> <br>
                    <h5>Inicijalni troškovi projekta: <br> €190,000 </h5>
                </div>
            </div>
        </div>
        <div class="bg-white px-2">
            <p>
            Glavne aktivnosti tvrtke GEOMETRICUS su pružanje geodetskih usluga. Za razliku od većine drugih geodetskih tvrtki u Hrvatskoj, čije su aktivnosti uglavnom ograničene na osnovne geodetske usluge (terestrička geodezija i kartografski proizvodi koji se mogu proizvesti iz podataka), Geometricus može obavljati širi raspon geodetskih usluga, uključujući hidrografska mjerenja. <br>
            </p>
            <p>
            Međutim, da bi mogli dobiti ovlaštenje za složenija hidrografska mjerenja (koja bi omogućila sprečavanje daljnjih poplava u Hrvatskoj), Geometricus je uz pomoć <b>Norveškog financijskog mehanizma u sklopu programa Business Development and Innovation Croatia</b> implementirao vrhunsku tehnologiju koja se temelji na daljinskom istraživanju. <br> 
            </p>
            <p>
            Tehnologija koja se trenutno koristi u Hrvatskoj jednostavno nije prikladna za preventivno upravljanje, a metode mjerenja i kartografiranja vodenih tijela uglavnom uključuju klasične terestričke geodetske metode. To uključuje uporabu štapa, prizme i totalne stanice, a implicira zahtjev da se može pristupiti poziciji mora ili morskog dna, što često nije slučaj. Osim toga, zbog tehničkih poteškoća, mjerenja se ne obavljaju redovito, što povećava rizik od poplava. <br>
            </p>
            <p>
            Ulaganjem u novu vrhunsku tehnologiju koja primjenjuje metode daljinskog istraživanja, poput laserskog skeniranja LiDAR-om (detektiranje svjetlosti i određivanje udaljenosti), termovizijske inspekcije i drugih, te stvaranjem "digitalnih blizanaca" mora, obale, rijeka, jezera i drugih vodenih tijela, Geometricus će pružati dinamičnu podršku u praćenju i održavanju mora i vodenih tijela te time spriječiti daljnje poplave. <br>
            <p>
            </p>
            Novim tehnologijama već stječemo nove poslovne aranžmane i nove klijente, a očekujemo rast zaposlenih te povećane prihode i dobiti. <br>
            </p>
        </div>

        <div class="bg-white px-2">
            <div class="border-top border-bottom mb-3">
            <p class="text-center">Kroz projekt nabavljen je visokoprecizni multibeam S3PR novozelandskog proizvođača WASSP koji omogućava detaljno mapiranje vodnih tijela.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/WASSP S3PR.webp" alt="WASSP S3PR multibeam">
            <p class="text-muted text-center pb-3 ">Proces montiranja WASSP S3PR multibeam sustava na brod.</p>
            </div>
            </div>

            <div class="border-bottom mb-3">
            <p class="text-center">Kako bi mogli mapirati priobalno područje velikom efikasnošću i preciznošću koristimo RIEGL-ov miniVux 3.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/riegl-minivux3.webp" alt="Riegl MiniVux 3">
            <p class="text-muted text-center pb-3 ">Riegl MiniVux 3 LiDAR senzor.</p>
            </div>
            </div>

            <div class="border-bottom mb-3">
            <p class="text-center">Zbog potrebe RGB mapiranja, ispitivanja pukotina i solarne isplativosti nabavljen je aerofotogrametrijski set sa termalnom kamerom.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/matriceP1.webp" alt="DJI P1">
            <p class="text-muted text-center pb-3 ">Aerofotogrametrijski set na letjelici M300.</p>
            </div>
            </div>


            <div class="border-bottom mb-3">
            <p class="text-center">Za kontrolu kvalitete nabavljena je vrhunska Leica-ina oprema: totalna stanica, GNSS sa Imaging tehnologijom te visokoprecizni nivelir. </p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/leica1.webp" alt="Leica">
            <p class="text-muted text-center pb-3 ">Totalna stanica TS16, GNSS GS18I te nivelir LS15.</p>
            </div></div>

            <div class="border-bottom mb-3">
            <p class="text-center">Kako bi obrada podataka tekla nesmetano nabavljena su i 4 računala visokih performansi.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/pc.webp" alt="data processing">
            <p class="text-muted text-center pb-3 ">Računalo visokih performansi: Intel i9 13900K, 128GB DDR5 RAM, RTX 3060TI, 1TB SSD</p>
            </div>
            </div>
            
            <p>Ovom prilikom zahvaljujemo se na ukazanom povjerenju Innovation Norway-a te ćemo dokazati visoku profesionalnost i konkuretnost na tržištu kroz godine koje dolaze. </p>
        </div>

        
            
        

    </div>
</section>