---
layout: "base.njk"
---


<section id="inzenjerska-geodezija">
    
    
        
            <div class="background container2">
                <div class="dark-overlay d-flex justify-content-center align-items-center">
                <h1 class=""><b>Inženjerska geodezija</b> </h1>
                </div>
            </div>
        <div class="container bg-white">
    
        <div class="izracun-kubatura mt-5">
            <h2>Izračun kubatura</h2>
            <p>Izračun kubatura (volumena) masa je postupak izračunavanja količina masa asfaltnih baza, deponija, kamenoloma, iskopa i nasipa, te ostalih oblika zemljanih radova na gradilištima.</p>
            

            <div class="sketchfab-embed-wrapper"> 
                <iframe title="1" width="1100px" height="600px" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/0969ac9970f948a28e376a4d7330d957/embed"> </iframe> 
            </div>

            <p class="mt-3">Prilikom izgradnje nekog objekta, kompenzacija materijalom ključan je faktor pri izradi troškovnika. Čest problem na koji investitori nailaze je nemogućnost kontrole količine iskopa odvezenog sa gradilišta ili materijala korištenog za nasipanje.</p>
            <p>Posjedujemo najmodernije softvere za izračun volumetrije danog materijala te brzo, jednostavno i pouzdano isporučujemo podatke o iskopu, profile terena i ostalo.</p>

            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK3.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK3.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK4.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK4.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/IK5.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/IK5.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina, računanje kubatura" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="uspostava-geodetske-osnove">
            <h2>Uspostava geodetske osnove</h2>
            <p>Geodetska osnova ili geodetska mreža je skup trajno stabiliziranih točaka Zemljine površine s određenim koordinatama u horizontalnom i visinskom smislu. Točke, odnosno koordinate geodetske osnove iskazuju se u odnosu na jedinstveni koordinatni sustav.</p>
            <p>Običaj je da se na gradilištu građevinski i geodetski radovi izvode s jedne geodetske osnove kako ne bi došlo do razilaženja između vrijednosti opažanih istih točaka.</p>
            <p>Prilikom uspostave geodetske osnove pazi se da uspostavljene točke budu stabilne i pouzdane tijekom svih faza izgradnje građevine, ali i nakon puštanja građevine u rad kako bi se s tih točaka moglo provoditi buduće praćenje pomaka i deformacija građevine.</p>
            <p>Nakon terenskog dijela i fizičke uspostave mreže pristupa se uredskom dijelu posla i izjednačenju mreže. Danas se izjednačenje mreže vrši putem naprednih računalnih programa specijaliziranih upravo za takvu vrstu posla, uz stalan nadzor geodetskog stručnjaka. Krajnji rezultat izjednačenja mreže su fiksne pozicije točaka (horizontalni i visinski položaj) te ocjena točnosti (pouzdanost i preciznost) mreže.</p>
            <p>Uspostava geodetske osnove spada među najpreciznije radove geodetske struke jer ovisno o kvaliteti izvedene mreže ovisi uspješnost izvršenja projekta (gradnja tunela, mosta, brana, autocesta, željeznica, zgrada, ...).</p>
            <p><b>Samo dobro izvedena geodetska osnova preduvjet uspješnog izvršenja projekta.</b></p>
            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO4.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO4-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO5.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO5-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/GO6.webp" alt="izjednačenje mreže, precizni geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/GO6-s.webp" alt="izjednačenje mreže, precizni geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="iskolcenje">
            <h2>Iskolčenje građevina, trasa, prometnica i infrastrukture</h2>
            <p>Iskolčenje građevina, prometnica i infrastruktura je geodetsko prenošenje osi objekata, trasa prometnica i lomnih točaka infrastruktura s projekta (plana, „crteža“) na teren, odnosno označiti na terenu budući položaj lomnih točaka ili osi objekata.</p>
            <p>Iskolčenje objekata (građevina, prometnica, infrastruktura) je jedna od svakodnevnih radnji geodetske prakse.</p>
            <p>Projektirani objekt koji je potrebno iskolčiti na terenu, može se na teren prenijeti u položajnom i visinskom smislu.</p>

            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/2.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/2-s.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/1.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/1.webp" alt="građevinski radovi, građevinski materijal, iskolčenje građevina" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="pomaci-i-deformacije">
            <h2>Praćenje pomaka i deformacija</h2>
            <p>Svaki izgrađeni objekt podložan je pomacima i deformacijama. Pomaci i deformacije nastaju uslijed vanjskih opterećenja – sila (vjetar, promjena temperature, tektonski i seizmički utjecaji, statičko i dinamičko opterećenje građevine), promjena mehaničkih svojstava materijala od kojeg je objekt izgrađen i dr.</p>
            <p>Pomak se definira kao prostorna promjena položaja diskretne točke na objektu ili tlu. Deformacija je iskrivljenje ili napuknuće objekta ili tla koje uglavnom nastaje uslijed nejednakih pomaka točaka. Neravnomjerni pomaci uzrokuju deformacije kao što su progibi, nagibi, zakreti i iskrivljenja.</p>
            <section id="gallery-GE" class="py-1">
                <div class="container ">
                    <div class="row mb-5 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/inzenjerska-geodezija/PD-1.webp" alt="projektiranje kuće, praćenje pomaka" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/PD-1.webp" alt="projektiranje kuće, praćenje pomaka" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/inzenjerska-geodezija/PD-2.webp" alt="projektiranje kuće, praćenje pomaka" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/inzenjerska-geodezija/PD-2.webp" alt="projektiranje kuće, praćenje pomaka" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <p>Geodetskim metodama određuju se promjene položaja pojedinih točaka na objektu, kao i sami oblici objekata. Na temelju takvih mjerenja, odnosno na temelju rezultata mjerenja pomaka može se utvrditi deformacija.</p>
            <p>Vrijednosti određenih pomaka i deformacija građevina najmjerodavniji su element u ocjeni stvarnog stanja građevine.</p>
        </div>
            <h2 class="mt-4">Geodetski nadzor</h2>
            <div class="geodetski-nadzor mb-5 text-white ">
                
                <div class="dark-overlay2 d-flex flex-column justify-content-center align-items-center">
                
                <div class="ay d-flex justify-content-center align-items-center m-4">
                <p>Geodetski nadzor je kontrola ispravnosti izvođenja radova izvođača, odnosno kontrola usklađenosti izvođenja radova s projektom. Nadzor građenja je zakonska obveza investitora.</p>
                <p>Nadzorni inženjer je fizička osoba koja prema posebnom zakonu ima pravo uporabe strukovnog naziva ovlašteni inženjer i provodi u ime investitora stručni nadzor građenja.</p>
                <p>Stručni nadzor građenja provodi se prilikom građenja svih građevina i izvođenja svih radova za koje se izdaje građevinska dozvola i/ili uporabna dozvola.</p>
                <p>Geodetski nadzor uglavnom se obavlja kod izgradnje prometnica, zbog kompleksnosti projekta i prostorne rasprostranjenosti izvođenja objekta.</p>
                <p>Prije samog početka rada na gradilištu investitor je dužan geodetskom nadzornom inženjeru predati projektnu dokumentaciju, iskolčenu trasu objekta i operativne poligone s kojih se iskolčavala trasa ili osi budućeg objekta.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>   




