---
  title: Blog
  layout: 'base-en.njk'
--- 


<div class="section container">
<h1 class="section-title bg-dark txt-centered text-center" style="color:var(--marine-blue-color);">ALL NEWS</h1>
<ul role="list" class="articles__list flow mt-5 text-center p-0">
  
  {%- for post in collections.en | reverse -%}
    {% include 'article-snippet-en.njk' %}
  {%- endfor %}


</ul>

  </div>
    
 



