---
layout: 'base.njk'
---
<article class="main-article">
<div class="container container--narrow flow bg-white text-center">
  
    <h1 class="article-title txt-primary-color ">
      {{title}}
    </h1>
    <figure class="main-article__figure">
      <img class=w-50 src="{{image}}" alt="{{imageAlt}}">
      <figcaption>
        {{imageAlt}}
      </figcaption>
    </figure>
    
    {{content | safe}}
  
</div>
</article>