<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--metaTags-->
    <meta name="robots" content="index, follow">
    <meta name="description" content="Geodetske usluge - projektiranje, nadzor, izrada geodetskih elaborata, 3D lasersko skeniranje, LiDAR, fotogrametrija, hidrografija, lociranje podzemnih vodova, GIS, geoinformatika. Geodet - Požega, Zagreb.">
    <!--cssDirectories-->
    <link rel="stylesheet" href="./4_css/style.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="./4_css/mobile.css/">
    <!--scrollReveal-->
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <script>
        ScrollReveal({ duration: 1000 })
    </script>
    <!--fontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--faviconIcon-->
    <link rel="shortcut icon" href="/5_misc/favicon.ico" type="image/x-icon">
    <!--googleFonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--bootstrapCssCDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <!--leafletCSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

    <!--lightboxCDN!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://unpkg.com/img-comparison-slider@7/dist/styles.css"/>

<title>Geometricus d.o.o - geodetske usluge</title>
</head>
<body style="scroll-behavior: smooth;">

    <main>

    {% include 'header.njk'%}
    {{content | safe}}
    {% include 'footer.njk'%}
    </main>



</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" passive></script>
<!--LEAFLET JS-->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>

<script src="./3_js/script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://unpkg.com/img-comparison-slider@7/dist/index.js"></script>
<!-- Slick Slider JS -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./3_js/lazysizes.min.js" async=""></script>
<script src="./3_js/main.js"></script>
<script>
    
    ScrollReveal().reveal(' .ay0-1', {scale:0.8,duration:4000});
    ScrollReveal().reveal(' .ay0-2', {scale:0.9,duration:5000});
    ScrollReveal().reveal(' .ay0-3', {scale:0.9,duration:3000,interval:100});
    ScrollReveal().reveal(' .ay0-4', {scale:0.9,duration:3000,interval:200});
    
    ScrollReveal().reveal(' .ay1', {rotate: {
        x: 10,
        z: 0
    },duration:2000});
    ScrollReveal().reveal('.ay2', {rotate: {
        x: 20,
        z: 3
    },duration:2300});
    ScrollReveal().reveal('.ay3', {rotate: {
        x: 30,
        z: 3
    },duration:2600});
    ScrollReveal().reveal('.ay4', {rotate: {
        x: 40,
        z: 3
    },duration:2900 });
    ScrollReveal().reveal('.ay5', {rotate: {
        x: 100,
        z: 3
    },duration:3100});
    ScrollReveal().reveal('.ay6', {rotate: {
        x: 100,
        z: 3
    },duration:3300});
    ScrollReveal().reveal('.ay7', {rotate: {
        x: 100,
        z: 3
    },duration:3300});
    ScrollReveal().reveal('.ay8', {rotate: {
        x: 100,
        z: 3
    },duration:3300});
    ScrollReveal().reveal(' .ay1-1', {scale:0.9,duration:2000,distance:'500px', interval:1000});
    ScrollReveal().reveal(' .ay1-2', {duration:1000,distance:'10px',interval:300});
    ScrollReveal().reveal(' .ay1-3', {duration:1000,distance:'10px',interval:350});
    ScrollReveal().reveal(' .ay1-4', {opacity:0.01,duration:4000,distance:'300px'});
    ScrollReveal().reveal(' .ay1-5', {duration:3000,distance:'200px'});
    ScrollReveal().reveal(' .ay1-6', {duration:5000, distance:'200px'});
    ScrollReveal().reveal(' .ay1-7', {duration:2000, distance:'200px'});
    ScrollReveal().reveal(' .ay1-8', {duration:4500, distance:'300px'});

</script>