<link rel="stylesheet" href="/4_css/style.css">
<footer id="main-footer" class="">
    <div class="container">
        <div class="bg-white mb-2"><img src="/1_content/1_img/footer-eu.webp" alt=""></div>
        
        <div class="card-managing">
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-ruler-horizontal"></i></i> Services</h4>
                    <ul>
                        <li class="pt-1"><a href="/2_html/cadastral-services">Cadastral services</a></li>
                        <li><a href="/2_html/engineering-geodesy">Engineering geodesy</a></li>
                        <li><a href="/2_html/LIDAR-en">LiDAR</a></li>
                        <li><a href="/2_html/photogrammetry">Photogrammetry</a></li>
                        <li><a href="/2_html/hydrography">Hydrography</a></li>
                        <li><a href="/2_html/gis-en">GIS</a></li>
                        
                        
                    </ul>
                    <div class="col p-1">
                        <h4><i class="fas fa-clock"></i> Working hours</h4>
                        <p class="pt-1" >MON-FRI: 07-15H</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-user-friends"></i> Authorized representative</h4>
                    <p class="pt-1"><div class="text-muted d-inline">Owner: </div>Stjepan Keleminec <br> </p>
                    <p class="pt-1"><div class="text-muted d-inline">CEO: </div>David Perešin <br>  </p>
                    <div class="col p-1">
                        <h4><i class="fas fa-contact-card"></i> Contact</h4>
                        <p class="pt-1">info@geometricus.hr</p>
                        
                    </div>
                </div>
                
                
                
            </div>
            
            <div class="cards">
                <div class="col p-1">
                    <h4><i class="fas fa-archway"></i> Headquarters</h4>
                    <p class="pt-1">Ferovac 32, 34340 Kutjevo</p>
                    <p><div class="text-muted d-inline">OIB:</div> 28104778956</p>
                    <br>
                    <h4><i class="fas fa-building"></i> Office Požega</h4>
                    <p class="pt-1">Županijska 4, 34000 Požega</p>
                    <p><div class="text-muted d-inline">phone:</div> 034/273-034</p>
                    <p><div class="text-muted d-inline">e-mail:</div> info@geometricus.hr</p>
                    
                    <br>
                    <h4><i class="fas fa-building"></i> Office Zagreb</h4>
                    <p class="pt-1">Odra, Odranska ulica 62,</p>
                    <p>10020 Novi Zagreb</p>
                    <p><div class="text-muted d-inline">e-mail:</div> info@geometricus.hr</p>
                    <br>
                    </div>
            </div>

            
            
    </div>

</footer>
<div class="footer-note">
    <div class="container">
        <p class="h6">Made by: MP | &copy 2023 Geometricus d.o.o.</p>
    </div>
</div>





