


<nav id="main-nav">
    <div class="container bg-white d-flex align-items-center ">
        <div class="empty-sumtin">
        <a href="/index-en"><img class="geometricus-img" src="/1_content/1_img/MEMO ime-en.webp" alt="Geometricus logo"  ></a>
        <a  href="https://eeagrants.org/archive/2014-2021/projects/HR-INNOVATION-0025"><img class="norway-img2" src="/1_content/1_img/norway.webp" alt="Innovation Norway"></a>
    </div>
    <span>
    <ul class="d-flex align-items-center justify-content-center">
        <li class="text-nowrap ml-3 mr-2">Services <i class="fas fa-angle-down"></i>
            <ul>
                <li><a href="/2_html/cadastral-services">Cadastral services</a></li>
                <li><a href="/2_html/engineering-geodesy">Engineering geodesy</a></li>
                <li><a href="/2_html/LIDAR-en">LiDAR</a></li>
                <li><a href="/2_html/photogrammetry">Photogrammetry</a></li>
                <li><a href="/2_html/hydrography">Hydrography</a></li>
                <li><a href="/2_html/gis-en">GIS</a></li>
            </ul>
        </li>
            <ul class="">
                <li class="text-nowrap mr-2"><a href="">Projects </a><i class="fas fa-angle-down"></i>
                <ul class="p-0">
                    <li class="p-0"><a href="/2_html/hydrographboost-en" target="_blank">HydroGraphBoost</a></li>
                    <li><a href="">KK.08.2.1.16.0149</a></li>
                </ul>
                </li>
            </ul>
        <li class="text-nowrap ml-3 mr-2"><a href="/blog-en">News</a></li>
        <li class="ml-2 mr-2"><a href="/2_html/contact">Contact</a></li>
        <div class="languages d-flex btn-alpha ml-4 ">
            <li class="text-center m-2"><a href="/index">CRO <img src="/1_content/1_img/index_pics/croatia.png" alt="" class="" width="25px!important" height="25px"></a></li>
            
            <li class="text-center m-2"><a href="/index-en">ENG <img src="/1_content/1_img/index_pics/uk.png" alt="" class="" width="25px" height="25px"></a></li>
        </div>
        
        
    </ul>
    </span>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul class="text-bold " >
                <li class="my-2 border-bottom border-dark"><a href="/2_html/cadastral-services">CADASTRAL SERVICES</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/engineering-geodesy">ENGINEERING GEODESY</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/LIDAR-en">LiDAR</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/photogrammetry">PHOTOGRAMMETRY</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/hydrography">HYDROGRAPHY</a></li>
                
                <li class="my-1 border-bottom border-dark"><a href="/2_html/gis-en">GIS</a></li>
                <li class="strikethrough"></li>
                <li class="strikethrough"></li>
                <li class="my-2 border-bottom border-dark"><a href="/blog-en" style="">NEWS</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/contact" style="" class="">CONTACT</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/index">HR <img src="/1_content/1_img/index_pics/croatia.png" alt="" class="" width="25px!important" height="25px"></a></li>
                <li class="my-2 border-bottom border-dark"><a href="/index-en">ENG <img src="/1_content/1_img/index_pics/uk.png" alt="" class="" width="25px" height="25px"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</nav>