
<nav id="main-nav">
    <div class="container bg-white d-flex align-items-center ">
        <div class="empty-sumtin">
        <a href="/"><img class="geometricus-img" src="/1_content/1_img/MEMO ime.webp" alt="Geometricus logo"  ></a>
        <a  href="https://eeagrants.org/archive/2014-2021/projects/HR-INNOVATION-0025"><img class="norway-img2" src="/1_content/1_img/norway.webp" alt=""></a>
    </div>
    <span>
    <ul class="d-flex align-items-center justify-content-center">
        <li class="text-nowrap ml-3 mr-2">Usluge <i class="fas fa-angle-down"></i>
            <ul>
                <li><a href="/2_html/katastarske-usluge">Katastarske usluge</a></li>
                <li><a href="/2_html/inzenjerska-geodezija">Inženjerska geodezija</a></li>
                <li><a href="/2_html/LIDAR">LiDAR</a></li>
                <li><a href="/2_html/fotogrametrija">Fotogrametrija</a></li>
                <li><a href="/2_html/hidrografija">Hidrografija</a></li>
                <li><a href="/2_html/geoinformatika">Geoinformatika</a></li>
            </ul>
        </li>
            <ul class="">
                <li class="text-nowrap mr-2"><a href="">Projekti </a><i class="fas fa-angle-down"></i>
                <ul class="p-0">
                    <li class="p-0"><a href="https://eeagrants.org/archive/2014-2021/projects/HR-INNOVATION-0025" target="_blank">HydroGraphBoost</a></li>
                    <li><a href="">KK.08.2.1.16.0149</a></li>
                </ul>
                </li>
            </ul>
        <li class="text-nowrap ml-3 mr-2"><a href="/blog">Novosti</a></li>
        <li class="ml-2 mr-2"><a href="/2_html/kontakt">Kontakt</a></li>
        <div class="languages d-flex btn-alpha ml-4 ">
            <li class="text-center m-2"><a href="/2_html/kontakt">HR <img src="/1_content/1_img/index_pics/croatia.png" alt="" class="" width="25px!important" height="25px"></a></li>
            
            <li class="text-center m-2"><a href="/2_html/kontak">ENG <img src="/1_content/1_img/index_pics/uk.png" alt="" class="" width="25px" height="25px"></a></li>
        </div>
        
        
    </ul>
    </span>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul class="text-bold " >
                <li class="my-2 border-bottom border-dark"><a href="/2_html/katastarske-usluge">KATASTARSKE USLUGE</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/inzenjerska-geodezija">INŽENJERSKA GEODEZIJA</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/LIDAR">LiDAR</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/fotogrametrija">FOTOGRAMETRIJA</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/hidrografija">HIDROGRAFIJA</a></li>
                
                <li class="my-1 border-bottom border-dark"><a href="geoinformatika">GEOINFORMATIKA</a></li>
                <li class="strikethrough"></li>
                <li class="strikethrough"></li>
                <li class="my-2 border-bottom border-dark"><a href="/blog" style="color: var(--darkishlightcolor)!important;">NOVOSTI</a></li>
                <li class="my-2 border-bottom border-dark"><a href="/2_html/kontakt" style="color: var(--darkishlightcolor)!important;" class="text-muted">KONTAKT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</nav>