---
layout: "base-en.njk"
---


<!--Section: Contact v.2-->
<section class="" id="kontakt-forma">
    <div class="container bg-white">
        
    <!--Section heading-->
    <p class="text-center w-responsive mx-auto mb-5 mt-5 pt-5">You have a query related to our services? Send us a message using the form below - we will try to get back to you in the shortest time possible.</p>
    <h2 class="h1-responsive font-weight-bold text-center my-4">CONTACT US!</h2>
    <!--Section description-->
    

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" data-netlify="true" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 ay1" >
                        <div class="md-form mb-0" >
                            <label for="name" class="">Your name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 ay2">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your e-mail:</label>
                            <input type="text" id="email" name="email" class="form-control" required>
                            
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12 ay3">
                        <div class="md-form mb-0">
                            <label for="exampleFormControlSelect1" class="mt-2">Type of your inquiry:</label>
                            <select class="form-control" id="exampleFormControlSelect1" required>
                              <option></option>
                              <option>Cadastre and land register inquiry</option>
                              <option>Volume calculation</option>
                              <option>Creating project documentation</option>
                              <option>As-built design</option>
                              <option>Aerial photogrammetry/laser scanning</option>
                              <option>Other</option>
                            </select>
                          </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 ay4">

                        <div class="md-form">
                            <label for="message" class="mt-2">Your message:</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                            
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center">
                
                <br>
                
                <a class="btn btn-primary-alpha mt-1 px-5 mb-3 ay6 text-bold" onclick="document.getElementById('contact-form').submit();">SEND</a>
                <br>
            </div>
            
            
            
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center ay5">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Županijska 4, Požega, Hrvatska</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>091/540-22-65</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>info@geometricus.hr</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
    </div>
</section>
<!--Section: Contact v.2-->

