---
layout: "base-en.njk"
---

<section id="hydrographboost">
    <div class="container">
        <h1 class="text-center py-2 bg-white" style="color:var(--primary-color)!important;">HydroGraphBoost project</h1>
        <div class="bg-white">
            <div class="row my-5">
                <div class="col ">
                    <h2>About project</h2>
                    <h5>Organiser: Innovation Norway</h5>
                    <h5>Project promotor: Geometricus d.o.o.</h5>
                    <h5>Number of project: HR-INNOVATION-0025</h5>
                    <br>
                    <h6>Programme: <a href="https://eeagrants.org/archive/2014-2021/programmes/HR-INNOVATION" target="_blank"><span>Innovation, Research, Education and Competitiveness</span></a></h6>
                </div>
                <div class="col">
                    <h2>Status:</h2>
                    <h5>Completed</h5> <br>
                    <h5>Initial project costs: <br> €190,000 </h5>
                </div>
            </div>
        </div>
        <div class="bg-white px-2">
            <p>
            GEOMETRICUS main activities are provision of geodetic services. Unlike most other geodetic companies in Croatia, whose activities are largely limited to basic geodetic services (terrestrial geodesy  and mapping of products that can be produced from the datasets),  Geometricus can perform much wider range of geodetic services, including hydrographic measurements. <br>
            </p>
            <p>
            However, to be able to obtain authorization for more complex hydrographic measurements (which would enable prevention of further flooding in Croatia), Geometricus needs to invest into cutting edge technology which is based on remote sensing. <br> 
            </p>
            <p>
            The technology currently used in Croatia is simply not apt for preventive management, and methods for measuring and mapping of water bodies mostly include classic terrestrial geodetic methods. These include rod and prism and total station, and imply the requirement to be able to approach to the position of the sea or water bottom, which is often not the case. On top of the above, due to technical difficulties measurements are not done regularly, and this increases the risk of flooding. <br>
            </p>
            <p>
           With investment into a new cutting edge technology that applies remote sensing methods, like LiDAR (Light Detection and Ranging) laser scanning, thermo-vision inspection, and other, and by creating sea, coast, river, lake and other water bodies “digital twin”, Geometricus would be able to provide dynamic support in sea and water bodies monitoring and maintenance, and therefore prevent further flooding. <br>
            <p>
            </p>
            New services will result in new business deals and new clients, increased revenues and profit.  <br>
            </p>
        </div>

        <div class="bg-white px-2">
            <div class="border-top border-bottom mb-3">
            <p class="text-center">Through the project we procured highly detailed water multibeam - WASSP S3PR which will enable us to accurately map water bodies.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/WASSP S3PR.webp" alt="WASSP S3PR multibeam">
            <p class="text-muted text-center pb-3 ">Integrating WASSP S3PR multibeam on our vessel.</p>
            </div>
            </div>

            <div class="border-bottom mb-3">
            <p class="text-center">In order to map coastal areas we procured RIEGL's miniVux3 - a high accuracy LiDAR scanner that enables 300 kHZ laser pulse, creating dense digital terrain models.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/riegl-minivux3.webp" alt="Riegl MiniVux 3">
            <p class="text-muted text-center pb-3 ">Riegl MiniVux 3 LiDAR sensor.</p>
            </div>
            </div>

            <div class="border-bottom mb-3">
            <p class="text-center">Due to the need for RGB mapping, examination of cracks and solar profitability, an aerial photogrammetry set with a thermal camera was acquired.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/matriceP1.webp" alt="DJI P1">
            <p class="text-muted text-center pb-3 ">Aero-photogrammetry set on a UAV M300.</p>
            </div>
            </div>


            <div class="border-bottom mb-3">
            <p class="text-center">For quality control, we procured top of the line Leica equipment: total station, GNSS with Imaging technology and a high-precision leveler. </p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/leica1.webp" alt="Leica">
            <p class="text-muted text-center pb-3 ">Total station TS16, GNSS GS18I and a digital level LS15.</p>
            </div></div>

            <div class="border-bottom mb-3">
            <p class="text-center">In order for data processing to run smoothly, 4 high-performance computers were also acquired.</p>
            <div class="text-center">
            <img class="w-75 " src="/1_content/1_img/hydrographboost/pc.webp" alt="data processing">
            <p class="text-muted text-center pb-3 ">High performance PC's: Intel i9 13900K, 128GB DDR5 RAM, RTX 3060TI, 1TB SSD</p>
            </div>
            </div>
            
            <p>On this occasion, we would like to thank Innovation Norway for their trust, and we will prove our high level of professionalism and competitiveness on the market for years to come. </p>
        </div>

        
            
        

    </div>
</section>