---
layout: "base.njk"
---

<section id="LIDAR">
    
    
        <div class="lidar-background-img d-flex justify-content-center align-items-center focus">
            
                <h1 class="ay-1">LIDAR</h1>
            
        </div>
        <div class="container bg-white"> 
                    <div class="3DLS mt-5 ay-2">
                        <p>LIDAR tehnologija (engl. Light Detection and Ranging) jedna je od metoda laserskog skeniranja koja se koristi za opažanje zemljine površine i objekata na njoj. LIDAR je optički mjerni instrument koji za mjerenje koristi svjetlost u obliku laserske zrake koja mjeri udaljenost između senzora i objekta izmjere. Udaljenost se određuje pomoću brzine svjetlosti i vremena potrebnog da laserska zraka  dođe do  opažanog objekta. U kombinaciji s ostalim podacima zabilježenima snimanjem svjetlosni impulsi generiraju precizne trodimenzionalne podatke o zemljinoj površini i objektima koji se nalaze na  njoj. LIDAR sustavi sastoje se od laserskog skenera i prijamnika signala te GNSS prijamnika i inercijalne mjerne jedinice (IMU). Laserski skener emitira određeni signal, a prijamnik očitava povratni signal dok je pomoću GPS prijamnika i inercijalne mjerne jedinice moguće odrediti trodimenzionalni položaj i orijentaciju snimanog područja ili objekta na tom području</p>
                        
                        <p class="ay-2"> Topografski  LIDAR  za  prikupljanje  podataka  koristi  blisko infracrveno zračenje. Njegova  karakteristika je da se pri kontaktu s vegetacijom dio zrake odbije i registrira visinu vegetacije, a dio prolazi do druge površine od koje će se dio zrake isto odbiti, odnosno prolazi do tla gdje će se odbiti ostatak zrake. Topografski LIDAR koristi se za dobivanje informacija o visini i gustoći vegetacije, za kartiranje kopna i priobalnih područja, za kreiranje različitih digitalnih modela, i slično.</p>
                        <p class="ay-2">Na ovaj način moguće je u vrlo kratkom roku doći do digitalnog modela terena pošumljenih i teško dostupnih područja.</p>
                        <section id="gallery-GE" class="py-1 ay-2">
                            <div class="">
                                <div class="row mb-5 ">
                                    <div class="col-md-12 d-flex flex-row justify-content-center">
                                        <div class="row d-flex justify-content-center align-items-center mb-3">
                                            
                                            <img-comparison-slider class="IMG-COMPARISON1" hover="hover" value="40%">
                                                <img slot="first" src="/1_content/1_img/lidar/L5.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="500px"/>
                                                <img slot="second" src="/1_content/1_img/lidar/L4.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="500px"/>
                                            </img-comparison-slider>
                                            <img-comparison-slider class="IMG-COMPARISON2" direction="horizontal" hover="hover" value="40%" >
                                                <img slot="first" src="/1_content/1_img/lidar/L4-576.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="450px"/>
                                                <img slot="second" src="/1_content/1_img/lidar/L5-576.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="450px"/>
                                            </img-comparison-slider>
                                            <img-comparison-slider class="IMG-COMPARISON3" direction="horizontal" hover="hover" value="40%" >
                                                <img slot="first" src="/1_content/1_img/lidar/L5-576.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="600px"/>
                                                <img slot="second" src="/1_content/1_img/lidar/L4-576.webp" alt="lidar, lasersko skeniranje, lasersko skeniranje iz zraka, digitalni model terena" width="100%" height="600px"/>
                                            </img-comparison-slider>
                                                            
                                            
                                            
                                                <p class="text-muted h6 mt-2 text-center ay-2">Izmjera pošumljenih područja za potrebe idejnog projekta u Pešćenici (veljača, 2022.) - razlika između neklasificiranog oblaka točaka i izdvojenog-klasificiranog tla</p>
                                               </div>
                                        </div>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </section>
                        
                    </div>
    </div>


</section>   



