---
layout: "base.njk"
---

    <div class="container bg-white border-left border-right">
        <div class="o-nama-background ">
    <div class="col-12 py-3 py-md-5 d-flex justify-content-center align-items-center">
        <h1 class="text-white text-bold pb-5">O nama</h1>
    </div>
    </div>        
    <div class="row py-5 bg-ruler">
            <div class="col-12">
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">O nama</h2>
                <p class="mt-3 mb-2 ">
                    Tvrtka <b>Geometricus d.o.o.</b>, osnovana je 2011. godine sa sjedištem u Ferovcu. Ubrzo ostvaruje znatan rast u prometu usluga i broju zaposlenika. Zaposlenici tvrtke su magistri inženjeri
                    geodezije / geoinformatike i geodetski tehničari koji timskim radom i profesionalnošću obavljaju
                    radne zadatke na najvišoj mogućoj razini te na taj način doprinose razvoju i ugledu tvrtke.</p>
                <p class="mt-1 mb-1">Poslujemo sukladno propisima uz suglasnost Državne
                    geodetske uprave za obavljanje poslova državne izmjere i katastra nekretnina te ovlaštenje Hrvatske
                    komore ovlaštenih inženjera geodezije. </p>
                
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">Geodetske usluge</h2>
                <p class="my-3">Glavne djelatnosti tvrtke su usluge vezane za katastar nekretnina te inženjerska geodezija. Od ostalih djelatnosti pružamo usluge iz područja fotogrametrije, terestričkog laserskog skeniranja, LiDAR skeniranja, hidrografske izmjere, lociranja vodova. Također nudimo usluge vezane za izradu geoinformacijskih sustava i njihov web-hosting.</p>
                <hr>
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">Misija</h2>
                <p class="my-3">Misija Geometricusa je zadovoljstvo svakog klijenta pružanjem usluga iz svih područja naših djelatnosti koristeći najkvalitetnija i najmodernija rješenja za njihove projekte te na taj način doprinositi razvoju i napretku tvrtke.</p>
                <h2 class="text-uppercase my-4 font-weight-normal text-dark">Vizija</h2>
                <p class="my-3">Koristeći znanje i iskustvo naših djelatnika te stalnim ulaganjem u kvalitetu opreme i edukaciju djelatnika postati prepoznati i pouzdan partner na regionalnom tržištu. Također nam je jako važno da ostanemo društveno odgovorna tvrtka te da postanemo poželjan poslodavac kako trenutnim tako i potencijalnim djelatnicima.</p>
                <hr>
                <h2 class="text-uppercase font-weight-normal text-dark mb-3">OPĆI PODACI</h2>
<p class="font-weight-bold font-italic txt-primary-color">Tvrtka:</p>
<p class="text-secondary">Geometricus d.o.o.</p>
<div class="row">
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">Godina osnivanja:</p>
        <p class="text-secondary">2012. godina</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">Sjedište:</p>
        <p class="text-secondary">Županijska 4, Požega, 34000 Požega</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">MBS:</p>
        <p class="text-secondary">02920182</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">IBAN:</p>
        <p class="text-secondary">HR0524070001100195012</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">SWIFT:</p>
        <p class="text-secondary">OTPVHR2X</p>
    </div>
    <div class="col-md-4">
        <p class="txt-primary-color font-weight-bold font-italic">OIB:</p>
        <p class="text-secondary">28104778956</p>
    </div>
</div>
<p class="txt-primary-color font-weight-bold font-italic">EORI:</p>
<p class="text-secondary">HR28104778956</p>
<p class="">Društvo s ograničenom odgovornošću zastupaju vlasnik, mag.ing.geod. et geoinf. Stjepan Keleminec i direktor, geod.teh. David Perešin. Društvo je registrirano kod Trgovačkog suda u Osijeku - stalna služba u Slavonskom Brodu, pod matičnim brojem 02920182. Temeljni kapital društva 167.300,00 kn uplaćen je u cijelosti. Geometricus d.o.o. posjeduje identifikacijski broj (EURI) za carinske svrhe, broj potreban za internacionalizaciju poslovanja.</p>
                
                
                
            </div>
        </div>
    </div>



