---
layout: "base-en.njk"
---

<section id="fotogrametrija-panel">
    <div class="foto-type">
        <div class="dark-overlay d-flex justify-content-center align-items-center">
            <h1 class="ay1">Terrestrial photogrammetry and aerial photogrammetry</h1>
         </div>
     </div>
     <div class="container">

        
         <div class="intro bg-white">
             <h2 class="text-center-on-small-screens ay2">General</h2>
             <p class="ay2">Photogrammetry and remote sensing is the skill, science and technology of obtaining reliable quantitative information about physical objects on Earth and the environment, through the process of recording, measuring, analyzing and interpreting photographic images and scenes of electromagnetic radiation obtained by sensor systems. Photogrammetry is as old as modern photography, dating back to the middle of the nineteenth century.</p>
             <p class="ay2">A slightly more sophisticated technique, called stereography, enables the evaluation of the 3D coordinates (x, y, z) of an object. This data is obtained from a recording taken from two or more positions.</p>
             <p class="ay2">Photogrammetry is used in various jobs, such as topographic mapping, architecture, engineering, conservation and restoration, police reports, geodesy, ecology, medicine, mining, construction, ...</p>
             <div class="aerophotogrammetry">
                 <h2 class="text-center-on-small-screens ay2">Aerial photogrammetry</h2>
                 <p class="ay2">During aerial photogrammetry, the aircraft collects a large number of high-resolution photographs of an area from the air. These photos overlap in a certain percentage, and when overlapping, care should be taken to ensure that a certain detail of the area of interest is visible on multiple shots.</p>
                 <p class="ay2">The result of such imaging technique is a 3D reconstruction of the target area/object. Such a model contains information about terrain height, texture, shape and color of each recorded point.</p>
                 <p class="ay2">Based on the overlap between the images, it is possible to obtain an orthophoto - a two-dimensional aerial image and a DMR - a 3D representation of the area. By combining orthophoto and DMR, a 3D model of the required area is created.</p>
                <section id="gallery-GE" class="py-1">
                    <div class="container ">
                        <div class="">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                                    <a href="/1_content/1_img/fotogrametrija/ftgm1.webp" alt="terestrička fotogrametrija, pix4d, agisoft metashape, geodetske izmjere, projektiranje, nadzor" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="">
                                        <img src="/1_content/1_img/fotogrametrija/ftgm1.webp" alt="terestrička fotogrametrija, pix4d, agisoft metashape, geodetske izmjere, projektiranje, nadzor" class="img-fluid" style="width: 900px; height: fit-content;">
                                    </a>
                                   <p class="text-muted text-center mt-2 ay2">Display of aerial photogrammetry triangulation on the road reconstruction project in Opuzen, 2022.</p>
                                    
                                 </div>
                                
                             </div>
                         </div>
                     </div>
                 </section>
             </div>
    
             <div class="terrestrial-photogrammetry">
                 <h2 class="text-center-on-small-screens">Terrestrial photogrammetry</h2>
                 <p class="ay2">Terrestrial photogrammetry plays an important role in the preservation of cultural heritage objects. The advantage of such photogrammetry is the possibility of carrying out measurements inside the objects themselves (eg rooms of buildings).</p>
                 <p class="ay2">Unlike aerial photogrammetry, where the final products are made on the basis of aerial photographs obtained, in terrestrial photogrammetry photographic images are collected with a measuring camera at the level of the earth's surface.</p>
                 </p >
                 <p class="ay2">Terrestrial photogrammetry also finds its application in measuring, i.e. determining the dynamic displacements of objects.</p>
                <section id="gallery-GE" class="py-1">
                    <div class="container ">
                        <div class="">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                                    <a href="/1_content/1_img/fotogrametrija/ftgm2.webp" alt="terestrička fotogrametrija, pix4d, agisoft metashape, geodetske izmjere, projektiranje, nadzor" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="">
                                        <img src="/1_content/1_img/fotogrametrija/ftgm2.webp" alt="terestrička fotogrametrija, pix4d, agisoft metashape, geodetske izmjere, projektiranje, nadzor" class="img-fluid" style="width: 900px; height: fit-content;">
                                    </a>
                                   <p class="text-muted text-center mt-2 ay2">Combination of terrestrial and aerial photogrammetry on the reconstruction of the engine room of the Varaždin hydroelectric plant, 2022.</p>
                                    
                                 </div>
                                
                             </div>
                         </div>
                     </div>
                 </section>
             </div>
             <h2 class="text-center-on-small-screens">Use with us:</h2>
             <p class="ay2">The company Geometricus d.o.o. deals with terrestrial photogrammetry and aerial photogrammetry. Using software tools such as Pix4D and Agisoft Metashape, we deliver the following products:</p>
             <ul>
                 <li class="ay2">3D <i>mesh</i></li>
                 <li class="ay2">Digital terrain model</li>
                 <li class="ay2">High resolution orthophoto</li>
                 <li class="ay2">Classified point cloud (<i>"classified point cloud"</i>)</li>
             </ul>
             <p class="ay2">Behind each product is robust quality control using the most modern Topcon GNSS devices - Hiper HR. Depending on field accessibility and mobile signal coverage, we perform post-processed kinematics (<i>Post-Processed Kinematics</i>) or kinematics in real time (<i>Real-Time Kinematics</i>). </p>
            <section id="gallery-GE" class="py-1 ay2">
                <div class="container ">
                    <div class="row mb-0 ">
                        <div class="col-md-12 d-flex flex-row justify-content-center">
                            <div class="row d-flex justify-content-center align-items-center mb-3">
                                <a href="/1_content/1_img/fotogrametrija/ftgm3.webp" alt="post-processing, RTK, geodetski radovi" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/fotogrametrija/ftgm3.webp" alt="post-processing, RTK, geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                <a href="/1_content/1_img/fotogrametrija/ftgm4.webp" alt="post-processing, RTK" data-max-width="1000" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-4 col-sm-12 my-2">
                                    <img src="/1_content/1_img/fotogrametrija/ftgm4.webp" alt="post-processing, RTK, geodetski radovi" class="img-fluid" style="width: fit-content;">
                                </a>
                                
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section>
            <p class="text-muted text-center ay2">Using the Emlid Studio program package during the subsequent processing of the trajectory.</p>
             <p class="ay2"> We have the following inventory of photogrammetric equipment: </p>
        <!-- Topic Cards -->
        <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                    <a href="https://www.dji.com/hr/zenmuse-p1" target="_blank">
                        <div class="card-flyer">
                            <div class="text-box ">
                                <div class="image-box ay3">
                                    <img src="/1_content/1_img/fotogrametrija/c1.webp" alt="DJI ZENMUSE P1" />
                                </div>
                                <div class="text-container">
                                    <h6 class="ay2">DJI M300 + P1</h6>
                                     <p class="ay2">45 mpx full-frame sensor and 35mm lens in combination with the most reliable drone on the market - DJI M300. PPK and RTK mapping, Timesync 2.0, Smart Oblique Capture system.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="https://www.dji.com/hr/phantom-4-rtk" target="_blank">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box ay3">
                                    <img src="/1_content/1_img/fotogrametrija/c2.webp" alt="DJI Phantom 4 RTK" />
                                </div>
                                <div class="text-container">                                    
                                    <h6 class="ay2">Phantom 4 RTK</h6>
                                   <p class="ay2">1" CMOS, 20mpx sensor, mechanical shutter, Timesync - PPK/RTK workflow for mapping smaller areas. </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="https://www.deltaquad.com/vtol-drones/map/" target="_blank">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box ay3">
                                    <img src="/1_content/1_img/fotogrametrija/c3.webp" style="z-index:0 ;" alt="Delta Quad" />
                                </div>

                                <div class="text-container">
                                    <h6 class="ay2">Delta Quad Map</h6>
                                   <p class="ay2">An aircraft that, in combination with Emlid's M+ L1 receiver, provides PPK mapping with an autonomy of up to 100 km. At a GSD of 3 cm/px, it covers an area of 1200 ha.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="https://www.sony.co.uk/electronics/interchangeable-lens-cameras/ilce-7rm4" target="_blank">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box ay3">
                                    <img src="/1_content/1_img/fotogrametrija/c4.webp" alt="terestrička fotogrametrija, pix4d, agisoft metashape, geodetske izmjere, projektiranje, nadzor" />
                                </div>
                                <div class="text-container">
                                    <h6 class="ay2">Sony A7IV</h6>
                                    <p class="mb-5 ay2">35mm full-frame sensor, 61mpx. Currently the best solution for terrestrial photogrammetry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
            
    </div>
    
    <div id="pix4d" class="pix4d-container d-flex flex-column text-center">
        <div class="orto m-2">
        <iframe width="1100px" height="600px" src="https://cloud.pix4d.com/project/embed/86503-16623cc0fa6e41ecba6c0fed5b5954af/" frameborder="0" allowfullscreen></iframe>
        <p class="text-muted">Ortophoto capture, GSD 2 cm/px</p>
        </div>
        <div class="pc m-2">
        <iframe width="1100px" height="600px" src="https://cloud.pix4d.com/embed/pro/mesh/396240?shareToken=020c3addb1254105bae097fc0fb85407" frameborder="0" allowfullscreen></iframe>
        <p class="text-muted">Point cloud / 3D textured mesh</p>
        </div>
        </div>
        
    </div>



</section>   


