---
layout: 'base-en.njk'
---




<header id="showcase1">
    <div class="d-flex align-items-center justify-content-center" autofocus>
        <video autoplay loop muted class="videosize" src="/1_content/1_img/PROBA.mp4" loading="lazy"></video>
        <div class="showcase-container1">
            
            <div class="showcase-content1 d-flex flex-column align-items-center justify-content-between" >
                <span><h1 class="display-1 ay0-1">GEOMETRICUS d.o.o.</h1></span>
                <span><h2 class="display-4 ay0-2">SURVEYING AND MAPPING</h2></span>
                
                
                <div class="usluge d-flex flex-wrap flex-sm-column justify-content-xl-center my-3" style="position:absolute; bottom:3rem;">
                <a href="#1" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay2">Cadastral services <i class="fas fa-chevron-down"></i></a>
                <a href="#2" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay6">Engineering geodesy <i class="fas fa-chevron-down"></i></a>
                <a href="#3" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay3">LiDAR <i class="fas fa-chevron-down"></i></a>
                <a href="#4" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay4">Photogrammetry <i class="fas fa-chevron-down"></i></a>
                <a href="#5" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay5">Hydrography <i class="fas fa-chevron-down"></i></a>
                
                <a href="" class="btn-alpha btn-primary-alpha mx-2 my-xl-2 ay7">GIS <i class="fas fa-chevron-down"></i></a>
                
                </div>
            </div>
        </div>
        
    </div>
</header>

<section id="EU">
    <a href="/2_html/EU_Petrinja" class="d-flex justify-content-center"><img class="w-50" src="/1_content/1_img/index_pics/EU-elementi.jpg" alt=""></a>
    </section>

<section id="novosti">
    <div class="text-center mt-3"><h1 class="btn-primary-alpha text-white">NEWS</h1></div>
    <div class=" bg-white pb-3 pt-2">
    
        
    
        <section id="featured-articles">
            <div class="container text-center  ">
                
                <ul role="list" class="articles__list mt-5 d-flex justify-content-between p-0">
  
                    {%- for post in collections.en | reverse -%}
                        {% include 'article-snippet-en.njk' %}
                    {%- endfor %}


                </ul>
                
            </div>
        </section>
        <div class="d-flex justify-content-center flex-wrap text-wrap" >
        <a href="/blog-en" target="_blank" class=" btn btn-primary-alpha btn-alpha text-center text-white bg-dark p-2 " ><h5 class="m-0" >SHOW ALL NEWS</h5></a>
        </div>
        
    
</section>
<div class="text-center mt-3 mb-3"><h1 class="btn-primary-alpha text-white"> &nbsp</h1></div>

<section id="fotogrametrija">
    <div class="container ">
        <div class="row d-flex justify-content-center bg-white ">
            <div class="col-sm-12 d-flex flex-column justify-content-center border-light mt-1 bg-white">
                <div class="img">
                    <img  class="pt-md-0 lazyload" data-src="/1_content/1_img/index_pics/FTGM/DeltaQuad.webp" id="4" alt="photogrammetry, aerial-imagery" loading="lazy">
                    <img class="lazyload" data-src="/1_content/1_img/index_pics/FTGM/DeltaQuad2.webp" alt="photogrammetry, aerial-imagery" loading="lazy">
                    
                    
                </div>
                <div class="text-h1">
                    <a style="text-decoration: none; " href="/2_html/photogrammetry"><h3 class="text-secondary ay1-5 border-bottom border-blue">Terrestric <span class="text-primary-alpha">photogrammetry</span> and <span class="text-primary-alpha">aerial photogrammetry</span></h3></a>
                </div>
                <div class="hidden-ftgm " style="display: none;">  
                    
                    <div class="ay1-5 " >
                    
                        <p>Aerial photogrammetry images are used to deliver high-resolution orthophotos and digital terrain models. For needs on a smaller scale, we have a high-precision drone <span class="text-bold">DJI Phantom 4 RTK</span>. For medium-range and corridor surveying purposes, we use <span class="text-bold">Matrice M300 RTK </span> in combination with L1/P1 sensor. </p>
                    </div>
                
                </div>

                <div class="hidden-ftgm2 " style="display: none;">
                    <div class="ay1-5">
                    <p>For needs on a larger scale we use <span class="text-bold">Delta Quad Map VTOL</span> and <span class="text-bold">Sony A7RIV</span> camera. The mentioned combination enables an autonomy of 2 hours and at the same time enables mapping of 1200 ha at a resolution of 3 cm/px. With the help of a Sony camera, we perform terrestrial and close-up photogrammetry.</p>
                </div>
                </div>
                <div class="kontenjer" >
                <img src="/1_content/1_img/index_pics/3DLS/1.webp" width="100%" alt="">
                <div class="centered-class">  
                    
                    <div class="ay1-5 " >
                    
                        <p>Aerial photogrammetry images are used to deliver high-resolution orthophotos and digital terrain models. For needs on a smaller scale, we have a high-precision drone <span class="text-bold">DJI Phantom 4 RTK</span>. For medium-range and corridor surveying purposes, we use <span class="text-bold">Matrice M300 RTK </span> in combination with L1/P1 sensor. </p>
                    </div>
                
                </div>

                <div class="centered-class2">
                    <div class="ay1-5">
                    <p>For needs on a larger scale we use  <span class="text-bold">Delta Quad Map VTOL</span> and <span class="text-bold">Sony A7RIV</span> camera. The mentioned combination enables an autonomy of 2 hours and at the same time enables mapping of 1200 ha at a resolution of 3 cm/px. With the help of a Sony camera, we perform terrestrial and close-up photogrammetry. </p>
                </div>
                </div>
                </div>
            </div>
            <a href="/2_html/photogrammetry" class=" btn-alpha btn-primary-alpha my-2 ay1-8">FIND OUT MORE</a>
        </div>
    </div>
</section>




<section id="geoinformatika-kartografija">
    <div class="container bg-transparent">
        <div class="row  ">
            <div class="col-sm-12 ">
                <div class="container-content d-flex flex-column justify-content-between align-items-center bg-white " id="red7">
                    <a style="text-decoration: none;" href="/2_html/LIDAR-en" class="mt-5"><h3  class="text-secondary ay1-5 border-bottom border-blue"><span  class="text-primary-alpha"> LiDAR</span> i terrestric laser scanning</h3></a>
                    <p id="3" class="text-center ay1-8">Fusing together Applanix <b>APX20 IMU</b> and Riegl's <b>miniVUX 3</b> laser scanner we deliver <span class="text-bold">survey grade deliverables</span>. One of many advantages over photogrammetry is  <span class="text-bold">the ability to filter out vegetation and classify ground.</span> 
                    It is used in <span class="text-bold">corridor mapping - roads, railways and transmission lines, complex industrial plants, forest inventory, large mining areas, ...</span> </p>

                    <video autoplay loop muted src="/1_content/1_img/rieglLidar.mp4" style="width: 100%;" loading="lazy"></video>
<!--                         
                        <img-comparison-slider class="IMG-COMPARISON1" hover="hover" value="40%" >
                            <img slot="first" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/7.webp" alt="LIDAR" width="100%" height="500px" loading="lazy"/>
                            <img slot="second" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/8.webp" alt="LIDAR" width="100%" height="500px" loading="lazy"/>
                        </img-comparison-slider>
                        <img-comparison-slider class="IMG-COMPARISON2" direction="vertical" hover="hover" value="40%" >
                            <img slot="first" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/8-576.webp" alt="LIDAR" width="100%" height="450px" loading="lazy"/>
                            <img slot="second" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/7-576.webp" alt="LIDAR" width="100%" height="450px" loading="lazy"/>
                        </img-comparison-slider>
                        <img-comparison-slider class="IMG-COMPARISON3" direction="vertical" hover="hover" value="40%" >
                            <img slot="first" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/8-992.webp" alt="LIDAR" width="100%" height="600px" loading="lazy"/>
                            <img slot="second" class="lazyload" data-src="/1_content/1_img/index_pics/LIDAR/7-992.webp" alt="LIDAR" width="100%" height="600px" loading="lazy"/>
                        </img-comparison-slider> -->
                       
                    <a href="/2_html/LIDAR-en" class=" btn-alpha btn-primary-alpha my-lg-2 px-lg-5 my-sm-2 px-sm-5 ay1-8">FIND OUT MORE</a>
                    
                    
                </div>
                
                

            </div>
            
            
        </div>
    </div>
</section>

<section id="hidrografija">
    <div class="container">
        <div class="row d-flex justify-content-center bg-white mb-5">
            <div class="col-sm-12 d-flex flex-column justify-content-center border-light mt-5 bg-white">
                
                <div class="text-h1" id="5">
                    <h3 class="text-secondary ay1-5 border-bottom border-info text-center"><span class="text-primary-alpha">Multibeam hydrography</span></h3>
                </div>
                <div class="text-center ay1-5" >
                    <p> The WASSP S3PR Multibeam Echosounder (MBES) is purpose-built for geodetic mapping and surveying. By simultaneously generating up to 100 pings per second at an angle of 120 degrees and including advanced signal processing, we easily see a complete and accurate picture of the underwater bathymetry. This system is ideal for: detailed bathymetric survey, port survey and channel management, dredging, marine infrastructure inspection, wreck survey and search and rescue operations. </p>
                </div>
                
                <div class="img text-center mb-3">
                    <img class="lazyload " data-src="/1_content/1_img/index_pics/HYDRO/wassp2.webp" width="100%"  id="" alt="multibeam hydrography" loading="lazy">
                </div>
                              
                <a href="/2_html/hydrography" class="btn-alpha btn-info mx-5 ay1-5">MORE DETAILS</a>
            </div>
        </div>
    </div>
</section>

<section id="djelatnosti">
    
        <div class="container align-items-center mt-3 bg-white" >
            <div class="row d-lg-flex align-items-center">
                <div class="col-lg-6">
                    <div class="card">
                            <h3 class="text-primary-alpha text-center-on-small-screens" >Surveying services related to the real estate cadastre</h1>
                            <p id="1" class="font-italic text-center-on-small-screens">High-quality, fast and reliable preparation of geodetic studies for all purposes.</p>
                            <ul class="card-list">
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal ">Registration of objects</span> for <span class="font-weight-normal">cadastre and land registers</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal">Land subdivision</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal">Alignment</span> of cadastre and land registers</li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal">Geodetic projects</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> Establishment <span class="font-weight-normal">of infrastructural cadastre</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> Making of <span class="font-weight-normal">of special geodetic bases</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal">Registration of maritime or water assets</span></li>
                                <li class="font-weight-light ay1-2"><i class="far fa-check-square"></i> <span class="font-weight-normal">Restoration of borders</span></li>
                                
                            </ul>
                            <a href="/2_html/cadastral-services" class="btn-alpha btn-primary-alpha mx-5">MORE INFO</a>
                        
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div id="slider2" class="carousel slide mb-5" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                          <li class="active" data-target="#slider2" data-slide-to="0"></li>
                          <li data-target="#slider2" data-slide-to="1"></li>
                          <li data-target="#slider2" data-slide-to="2"></li>
                          <li data-target="#slider2" data-slide-to="3"></li>
                          <li data-target="#slider2" data-slide-to="4"></li>
                          <li data-target="#slider2" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/KAT/3.webp" loading="lazy" alt="katastar hr">
                          </div>
                          <div class="carousel-item">
                            <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/KAT/5.webp" loading="lazy" alt="hr katastar, katastar hr, infrastructure cadastre">
                          </div>
                          <div class="carousel-item">
                            <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/KAT/1.webp" loading="lazy" alt="hr katastar, katastar hr">
                          </div>
                          <div class="carousel-item">
                            <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/KAT/4.webp" loading="lazy" alt="hr katastar, katastar hr, infrastructure cadastre">
                          </div>
                        </div>
                        <a href="#slider2" class="carousel-control-prev" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                    
                        <a href="#slider2" class="carousel-control-next" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>                   
                   
                </div>
            </div>
            
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-6 d-none d-lg-flex">
                    <div id="slider3" class="carousel slide mb-5" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li class="active" data-target="#slider3" data-slide-to="0"></li>
                          <li data-target="#slider3" data-slide-to="1"></li>
                          <li data-target="#slider3" data-slide-to="2"></li>
                          <li data-target="#slider3" data-slide-to="3"></li>
                          <li data-target="#slider3" data-slide-to="4"></li>
                          
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active" height="100%">
                                <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/IG/IG-6.webp" loading="lazy" alt="Total station, stake-out">
                              </div>
                              <div class="carousel-item">
                                <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/IG/IG-5.webp" loading="lazy" alt="Topcon Hiper HR, design base">
                              </div>
                              <div class="carousel-item">
                                <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/IG/IG-3.webp" loading="lazy" alt="volume calculations">
                              </div>
                              <div class="carousel-item">
                                <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/IG/IG-4.webp" loading="lazy" alt="Topcon GT">
                              </div>
                              <div class="carousel-item">
                                <img class="d-flex img-fluid lazyload" data-src="/1_content/1_img/index_pics/IG/IG-1.webp" loading="lazy" alt="Network adjusment">
                              </div>
                        </div>
                        <a href="#slider3" class="carousel-control-prev" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                    
                        <a href="#slider3" class="carousel-control-next" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>                   
                   
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <h3 class="text-primary-alpha pt-md-5 text-center-on-small-screens">Engineering geodesy in construction</h1>
                            <p class="font-italic text-center-on-small-screens"id="2">Application of measurement systems in the design and construction of buildings and monitoring of displacements and deformations during construction and exploitation.</p>
                            
                            <ul class="card-list ">
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> Bases for <span class="font-weight-normal">implementation and main projects</span></li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> <span class="font-weight-normal">Roads, highways, bridges, tunnels, ...</span></li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> <span class="font-weight-normal">Buildings, industrial plants, stadiums, ...</span></li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> <span class="font-weight-normal">Energetics</span> - transmission lines, gas pipelines, oil pipelines, hydropower plants, ...</li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> Establishment of <span class="font-weight-normal">surveying networks</span></li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i><span class="font-weight-normal"> Precise stake-outs</span></li>
                                <li class="font-weight-light ay1-3"><i class="far fa-check-square"></i> Creation of <span class="font-weight-normal">special geodetic designs</span></li>
                                <li class="font-weight-bold ay1-3"><i class="far fa-check-square"></i> <span class="font-weight-normal">Locating of underground utilities</span></li>
                                
                                
                            </ul>
                            <a href="/2_html/engineering-geodesy" class="btn-alpha-rev btn-primary-alpha mx-5">MORE INFO</a>
                        
                    </div>
                </div>
                
            </div>
                
    
               
    
    
        
    </div>
</section>

<!-- <section id="lociranje-vodova">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-12 col-md-12 col-sm-12 bg-white">
                <h3 class="text-primary-alpha border-bottom border-warning text-center mt-5 bg-white" id="7">Precizno lociranje vodova</h3>
                <div class="d-flex flex-column justify-content-between align-items-center bg-white ">
                    <p class="text-center">Znati lokaciju postojećih podzemnih vodova prilikom izvođenja građevinskih radova od kritične je važnosti - prekid samo jednog voda može rezultirati zaustavljanjem gradilišta i neželjenim troškovima. Geometricus d.o.o. vam pomaže kako bi prije vašeg projekta horizontalno i vertikalno označili linijske objekte <span class="text-bold">sanitarne i oborinske kanalizacije, vodovoda, plinskih instalacija, parnih vodova, električnih instalacija i rasvjetnih stupova</span>. Koristimo najmoderniji sustav za lociranje vodova - <span class="text-bold">Leica Ultra</span>, što nam omogućava iznimno precizno i pouzdano <span class="text-muted text-bold">mapiranje / GIS izvoz svih vrsta podzemnih instalacija.</span>   </p>
                    <div class="pv-background-img d-flex justify-content-center align-items-center">
            
                        
                    
                    </div>
                    
                    
                    
                    <a href="lociranje-vodova" class="btn-alpha btn-primary-alpha px-lg-5 px-sm-5 mt-2 ay1-7">SAZNAJTE VIŠE</a>
                </div>
            </div>
        </div>
    </div>
</section> -->





<section id="whyUs" class="">
    <div class="container bg-white">

        <h2 class="text-secondary pt-5 bg-white"><span class="text-primary-alpha ">WHY</span> US?</h2>

        <div class="row">
            <img class="lazyload" data-src="/1_content/1_img/row1.webp" loading="lazy" alt="">
            <h3 class="text-secondary"><span class="text-primary-alpha">Professionalism</span> above all</h3>
             <p>Over the years, we have been constantly improving our approach to clients. Our team currently consists of <span class="text-bold">8 </span><span class="text-bold">surveying engineers</span> and 3 professional associates. All employees have passed the <span class="text-bold">A1/A2/A3</span> open category for flight operations in Europe.</p>
        </div>

        <div class="row">
            <img class="lazyload" data-src="/1_content/1_img/row2.webp" loading="lazy" alt="">
            <h3 class="text-secondary"><span class="text-primary-alpha">The best equipment</span> for data collection</h3>
             <p>From geodetic equipment, we have the very top of the Leica product line - <span class="text-bold">GNSS GS18 I</span>, 1" robotic total station<span class="text-bold"> TS16</span > and the most precise digital leveler <span class="text-bold">LS15.</span> We use the most reliable aircrafts from the companies <span class="text-bold">Vertical Technologies</span> and <span class="text-bold">DJI</span>. With this, we guarantee the quality and speed of delivery in the form of accuracy and precision of all geodetic tasks.</p>
        </div>

        <div class="row">
            <img class="lazyload" data-src="/1_content/1_img/row3.webp" loading="lazy" alt="">
            <h3 class="text-secondary"><span class="text-primary-alpha">Reliability</span>, <span class="text-primary-alpha"> high quality</span> and <span class="text-primary-alpha">meeting deadlines</span></h3>
             <p>We believe that with our experience, reliability, high quality and speed of delivery of the final product, we belong to the very top of geodetic companies in the country.</p>
        </div>
    </div>

</section>
<section id="leica">
    <div class="container">
        <div class="row bg-white">
            <div class="col-xl-12 col-md-12 col-sm-12 bg-white mt-5 mb-5">
                <h3 class="text-center"><b>Leica Geosystems</b> surveying equipment guarantees success.</h3>
                <div class="text-center d-flex justify-content-center">
                    <img class="leica-1" src="/1_content/1_img/index_pics/leica/leica1.webp" alt=""   style="max-width: 100%;height: auto;">
                    <img class="leica-2" src="/1_content/1_img/index_pics/leica/leica2.webp" alt=""   style="max-width: 100%;height: auto; display:none;">
                </div>
            </div>
        </div>
    </div>
</section>



<section id="google">
    <div class="container bg-white">
        <div class="text-container">
            
            
        </div>
        
        <div class="map-container d-flex flex-column">
            <h4>Office in Požega</h4>
            <div class="map" id="map" style="height: 400px;"></div>
            <h4>Office in Zagreb, Odra</h4>
            <div class="map2" id="map2" style="height: 400px;"></div>
        </div>
    </div>
    </div>
</section>

<section id="partneri">
    <div class="row ">
        <div class="container mt-3 mb-3 bg-white">
                <h2 class="d-flex justify-content-center">Our partners:</h2>
            <section class="logo-carousel slider d-flex align-items-center justify-content-between" data-arrows="true">
                <div class="slide"><a href="https://www.hep.hr/" target="_blank"><img class="lazyload" data-src="/1_content/1_img/logos/HEP.webp" alt="Hrvatska elektroprivreda" loading="lazy"></a></div>
                <div class="slide text-center"><a href="https://www.riegl.com/" target="_blank"><img class="lazyload" data-src="/1_content/1_img/logos/RIEGL.webp" alt="RIEGL" loading="lazy"></a></div>
                <div class="slide"><a href="https://www.rencon.hr/" target="_blank"><img class="lazyload" data-src="/1_content/1_img/logos/Rencon.webp" alt="Rencon" loading="lazy"></a></div>
                <div class="slide"><a href="https://www.hac.hr/hr" target="_blank"><img class="lazyload" data-src="/1_content/1_img/logos/HAC.webp" alt="Hrvatske autoceste" loading="lazy"></a></div>
                <div class="slide"><a href="https://www.kutjevo.hr/" target="_blank"><img class="lazyload" data-src="/1_content/1_img/logos/GK.webp" alt="Grad Kutjevo" loading="lazy"></a></div>
                <div class="slide"><a href="http://www.termoplin.com/" target="_blank"> <img class="lazyload" data-src="/1_content/1_img/logos/tmp2.webp" alt="Termoplin Varaždin" loading="lazy"></a></div>
                
        </section>
        </div>
    </div>
</section>



